@use 'base/variables';
@use 'base/mixins';
// @use 'base/typography';

// @use 'base/grid-debug';
// @use 'base/animations';
// @use 'base/sanitize';
// @use 'vendor/reset';
@use 'vendor/wrap';
// @use 'vendor/slick';
// @use 'vendor/twentytwenty';
// @use 'vendor/nouislider';
// @use 'vendor/plyr';

@use 'components/header';
@use 'components/text';
@use 'components/accordion';
@use 'components/get-involved-form';
@use 'components/page-header';
@use 'components/standards-list';
@use 'components/get-certified';
@use 'components/logo-list';
@use 'components/product-list';
@use 'components/forms';
@use 'components/related-standards';
@use 'components/footer';

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
	// height: 100%;
	// font-family: $font-family-primary;
	// // font-size: 62.5%;
	// -webkit-font-smoothing: antialiased;
	// -moz-osx-font-smoothing: grayscale;
	// color: $color-viiv-blue;
	// background-color: $color-bg;
}

