@use 'base/variables';
@use 'base/mixins';
// @use 'base/typography';

// @use 'base/grid-debug';
// @use 'base/animations';
// @use 'base/sanitize';
// @use 'vendor/reset';
@use 'vendor/choice-js';
@use 'vendor/wp';
@use 'vendor/wrap';

@use 'components/header';
@use 'components/text';
@use 'components/image';
@use 'components/spacing';
@use 'components/accordion';
@use 'components/get-involved-form';
@use 'components/ways-get-involved';
@use 'components/page-header';
@use 'components/standards-list';
@use 'components/get-certified';
@use 'components/logo-list';
@use 'components/product-list';
@use 'components/forms';
@use 'components/related-standards';
@use 'components/footer';

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

.grecaptcha-badge {
	display: none;
}
