@keyframes fadein {
		0% {opacity: 0.0;}
		100% {opacity: 1.0;}
}

@keyframes fadein-flip {
		0% {opacity: 0;}
		50% {opacity: 0;}
		60% {opacity: 1;}
		100% {opacity: 1;}
}

@keyframes flip {
		0% {transform: rotateY(0deg); }
		100% {transform: rotateY(180deg); }
}

@keyframes reveal {
		0% {opacity: 0.0; transform: translateY(50%); }
		100% {opacity: 1.0; transform: translateY(0%);}
}

@keyframes fadeinOverlay {
		0% {opacity: 0.0; display:none; }
		1% { display: block; }
		100% {opacity: 1.0;}
}

@keyframes fadeoutOverlay {
		0% {opacity: 1.0; display:block; }
		1% { display: block; }
		100% {opacity: 0; display: none; }
}


@keyframes fadeinstay {
		0% {opacity: 0.0;}
		1% {opacity: 1.0;}
		100% {opacity: 1.0;}
}

@keyframes fadeinout {
		0% {opacity: 0.0;}
		1% {opacity: 1.0;}
		100% {opacity: 0.35;}
}

@keyframes swarm {
		0% {opacity: 0.0;}
		10% {opacity: 1.0;}
		100% {opacity: 0.0;}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes loading {
		0% { transform: translate(-50%,-50%) rotate(0deg); }
		100% { transform: translate(-50%,-50%) rotate(360deg); }
}

@keyframes loadingSpinner {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translate(-50%, 0);
	}
	40% {
		transform: translate(-50%, -10px);
	}
	60% {
		transform: translate(-50%, -5px);
	}
}


@keyframes pulse {
	0%, 100% {
		transform: scale(1,1);
	}
	50% {
		transform: scale(1.8,1.8);
	}
}



// animation inview
.transi { }

.ivanim-fade {
	opacity: 0;
	transition: opacity 1s ease;
	will-change: opacity;
	&.is-inview {
		opacity: 1;
	}
	&.d1 {
		&.is-inview {
			transition-delay: 0.4s;
		}
	}
}

.ivanim-slidefade {
  opacity: 0;
  transform: translateY(35px);
  will-change: transform;
  transition: all 0.5s ease-in-out;
  &.is-inview {
    opacity: 1;
    transform: translateY(0);
  }

  &.d1 {
    &.is-inview {
      transition-delay: 0.2s;
    }
  }
  &.d2 {
    &.is-inview {
      transition-delay: 0.4s;
    }
  }
  &.d3 {
    &.is-inview {
      transition-delay: 0.6s;
    }
  }
  &.d4 {
    &.is-inview {
      transition-delay: 0.8s;
    }
  }
  &.d5 {
    &.is-inview {
      transition-delay: 1s;
    }
  }
}

// .ivanim-slidedown {
//   will-change: transform;
//   transition: all 0.3s ease-in-out;
//   &.is-inview {
//     transform: translateY(0);
//   }
// }
