#grid--debug {
	position: fixed;
	pointer-events: none;
	width: 100%;
	height: 100vh;
	z-index: 10000;
	opacity: 0.5;

	.content-container {
		width: 100%;
		height: 100%;

		div {
			height: 100%;
			box-sizing: border-box;
			width: 100%;
			padding: 0 16px;
			display: none;


			@include breakpoint( $bp-site ) {
				width: 8.33%;
				float: left;
				display: block;
				padding: 0 8px;
			}

			span {
				display: block;
				width: 100%;
				height: 100%;
				border-left: 1px solid #4affff;
				border-right: 1px solid #4affff;
			}
		}


		div:nth-of-type(1) {
			display: block;
		}
	}

	

}
