    <footer slot="footer">
        <evg-section padding="lg" class="evg-theme-forest"
            ><h2 hidden="">Footer</h2>
            <evg-wrapper size="xxl"
                ><evg-grid gap="xl" wrap="wrap" class="evg-spacing-bottom-xl"
                    ><evg-grid-item small-mobile="12" tablet="6" large-tablet="8"
                        ><h3
                            class="evg-text-size-heading-xs evg-text-transform-uppercase evg-spacing-top-sm evg-spacing-bottom-sm"
                        >
                            Important links
                        </h3>
                        <evg-divider></evg-divider>
                        <evg-grid gap="none" wrap="wrap"><evg-grid-item
                                small-mobile="12"
                                large-mobile="6"
                                tablet="12"
                                large-tablet="6"
                                small-desktop="6"
                                >
                                <evg-menu-item><a href="process.html">Process & certifying bodies</a></evg-menu-item>
                                <evg-menu-item><a href="standards-preloved.html">Preloved certified</a></evg-menu-item>
                                <evg-menu-item><a href="standards-reusable.html">Reusable certified</a></evg-menu-item>
                                <evg-menu-item><a href="standards-refillable.html">Refillable certified</a></evg-menu-item>
                                <evg-menu-item><a href="standards-durable.html">Durable certified</a></evg-menu-item>
                                </evg-grid-item>
                                <evg-grid-item
                                small-mobile="12"
                                large-mobile="6"
                                tablet="12"
                                large-tablet="6"
                                small-desktop="6"
                                >
                                <evg-menu-item><a href="contact.html">Contact us</a></evg-menu-item>
                                <evg-menu-item><a href="faq.html">FAQ</a></evg-menu-item>
                                <evg-menu-item><a href="privacy-policy.html">Privacy Policy</a></evg-menu-item>
                                <evg-menu-item><a href="terms-and-conditions.html">Terms and conditions</a></evg-menu-item>
                                <evg-menu-item><a href="accessibility-statement.html">Accessibility statement</a></evg-menu-item>
                                </evg-grid
                        >
                    </evg-grid-item>
                    <evg-grid-item small-mobile="12" tablet="6" large-tablet="4" class="ae-locations">
                        <h3
                            class="evg-text-size-heading-xs evg-text-transform-uppercase evg-spacing-top-sm evg-spacing-bottom-sm"
                        >
                            Our locations
                        </h3>
                        <evg-divider></evg-divider>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>London, England</evg-menu-item-content>
                        </evg-menu-item>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>Banbury, England</evg-menu-item-content>
                        </evg-menu-item>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>Cardiff, Wales</evg-menu-item-content>
                        </evg-menu-item>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>Belfast, Ireland</evg-menu-item-content>
                        </evg-menu-item>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>Adelaide, Australia</evg-menu-item-content>
                        </evg-menu-item>
                        <evg-menu-item>
                            <evg-icon icon="location"></evg-icon><evg-menu-item-content>Washington DC, USA</evg-menu-item-content>
                        </evg-menu-item>
                    </evg-grid-item>
                </evg-grid>
                <evg-grid align-items="center" wrap="wrap" class="social-icons">
                    <evg-grid-item grow="true" shrink="true" small-mobile="12" large-mobile="auto"
                        ><evg-img
                            block="true"
                            aria-hidden="true"
                            aspect-ratio="auto"
                            object-fit="fill"
                            object-position="50% 50%"><img
                                src="media/images/logo/white.svg"
                                alt="WRAP logo"
                                width="152"
                                height="44"
                                loading="lazy" /></evg-img></evg-grid-item>

                    <evg-grid-item>
                        <evg-button variant="secondary" width="square"><a href="https://www.linkedin.com/company/215390" aria-label="Linkdin" class="icon icon-linkedin"><img src="media/images/svg/social-linkedin.svg" alt=""></a></evg-button>
                    </evg-grid-item>
                    <evg-grid-item>
                        <evg-button variant="secondary" width="square"><a href="https://twitter.com/WRAP_NGO" aria-label="twitter" class="icon icon-twitter"><img src="media/images/svg/social-x-twitter.svg" alt=""></a></evg-button>
                    </evg-grid-item>
                    <evg-grid-item>
                        <evg-button variant="secondary" width="square"><a href="https://www.youtube.com/user/ResourceEfficiency" aria-label="youtube"
                                    class="icon icon-youtube"
                                ><img src="media/images/svg/social-youtube.svg" alt=""></a></evg-button>
                    </evg-grid-item>
                </evg-grid>
            </evg-wrapper>
        </evg-section>
        <evg-section padding="lg" class="evg-theme-coal">
            <evg-wrapper size="xxl">
                <p class="evg-text-size-body-xs">
                    The Waste and Resources Action Programme (which operates as WRAP) is a registered UK Charity
                    No.1159512.<br aria-hidden="true" />Registered office at Ground Floor, Blenheim Court, 19 George Street, Banbury, Oxon, OX16 5BH.
                </p>
                <p class="evg-text-size-body-xs">
                    WRAP is an EU registered trade mark. Our <a href="terms-and-conditions.html">terms &amp; conditions</a> include details of this and of WRAP’s other registered trade marks.
                </p>
            </evg-wrapper>
        </evg-section>
    </footer>
</evg-app>
