<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<!-- <div class="mod-spacer"></div> -->
			
			<div class="mod-compliance-terms">

				<div class="data-companies-list" data-sent="3">
				  	<div class="item" data-id="1" data-businessname="Ciner Glass Belgium" data-address="Ciner Glass Belgium NV Louis Pasteurstraat 21, Lommel 3920 Belgium" data-country="Belgium" data-email="dataprivacy@cinerglass.com" data-formlink=""></div>
				  	<div class="item" data-id="2" data-businessname="Ciner Glass Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="3" data-businessname="Ciner Glass Productions Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="4" data-businessname="Ciner Glass Property Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="5" data-businessname="Park Cam San. Ve Tic. A.S." data-address="Bozuyuk Organized Industrial Area, 3rd Street No: 12, PB 11300, Bozuyuk / Bilecik" data-country="Turkey" data-email="to be provided, not ready" data-formlink="to be provided, not ready"></div>
				</div>

				<div class="mod-highlight">
					<div class="container">
						<div class="mod-content ivanim-slidefade">
							<div class="mod-column-highlight cta-wrapper-white">
								<h1>Consent</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="mod-columns-two mod-content ivanim-slidefade">
						<div class="mod-columns-two__col table-of-content">
							<div class="js-table-of-content" data-title="Table of Contents"></div>
						</div>
						<div class="mod-columns-two__col">
							<h1>Explicit consent form for reporting persons</h1>

							<h2>(Transfer of personal data abroad)</h2>

							<p>During the Ethics Reporting Process, our Company obtains personal data as disclosed by the Reporting Persons via post, e-mail, or via our third-party managed Ethics Reporting line, <strong>we•speakup</strong> platform.</p>

							<p>You may report breaches to the Ethics Reporting Line - we•speakup - of the Data Controller <strong>[[businessName]]</strong> residing at <strong>[[address]]</strong> with methods of post, e-mail, or via our third-party managed Ethics Reporting line, we•speakup platform.</p>

							<p>The Privacy Notice for persons who would like to report a breach through any of the Ethics Reporting systems, is hereby presented to you. We kindly ask you to read it in detail.</p>

							<p>This declaration of Explicit Consent was prepared specifically for those persons who use the WE Speak Up Platform, the infrastructure of which is provided by NAVEX Global.</p>

							<p>I understand that by using the we•speakup platform (whose infrastructure is provided by NAVEX Global, an entity residing abroad) to report on a we•speakup case or potential breach, any personal data that I may disclose will be kept on the server(s) located in Europe and that this process involves the transfer of personal data abroad. In such a case, I hereby give my EXPLICIT CONSENT to the transfer abroad and processing of the personal data that I may disclose.</p>

							<p>If you do not make your application anonymously, your personal data that you may have disclosed, such as contact information (Address, E-mail address, Phone number) and identity (Name and Surname) will be transferred abroad, in accordance with your explicit consent.</p>

							<p>We would like to emphasize that your or other persons` sensitive personal data listed below, must not be included in the Ethics Reporting Notification, provided it is not material and relevant to the reported breach.</p>

							<ul>
								<li>Race</li>
								<li>Ethnic origin</li>
								<li>Political opinion</li>
								<li>Philosophical belief</li>
								<li>Religion, sect or other beliefs</li>
								<li>Appearance</li>
								<li>Membership to associations, foundations or trade unions</li>
								<li>Data on health or sexual life or sexual orientation</li>
								<li>Criminal conviction and security measures</li>
								<li>Biometric and genetic data</li>
							</ul>			

							<div class="mod-compliance-form mod-compliance-form--lightskin">
								<form action="consent.html">
									<input type="checkbox" id="anon"><label for="anon">Do you wish to report your concern anonymously?</label>

									<label for="fname">First name*</label>
									<input type="text" id="fname" name="name">

									<label for="name">Last name*</label>
									<input type="text" name="lname">

									<input type="checkbox" id="correctinfo" required><label for="correctinfo">I confirm I have provided the correct information above.</label>

									<input type="submit" value="submit">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
