<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<!-- <div class="mod-spacer"></div> -->
			
			@@include('../partials/hero-image.html', {"image":"compliance/hero-compliance.jpg", "title": "ETHICS & COMPLIANCE", "copy":"<p>At Ciner Glass, we are committed to acting fairly and ethically</p>"})

		
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<h2>We are committed to conducting our business in a manner that is fair, right, and ethical.</h2>

						<p><strong>Acting fairly and ethically in all markets where we conduct business is of the utmost importance in achieving business and operational excellence at Ciner Glass.</strong></p>

						<p>At Ciner Glass, we are committed to maintaining an effective and robust compliance program, which is managed by a dedicated and independent Compliance function and which actively supports the mitigation of potential compliance risk and ensures we comply with all applicable national and international laws and regulations within the countries we operate.</p>
						<p>Our business Ethics Policy, Supplier Code of Conduct and other Company’s Policies require our employees, core contractors and any third parties acting for, or on behalf of, the company to not commit, authorise or be involved in bribery, corruption, fraud or other economic crimes. These policies sets as well clear rules and expectations regarding third-party management, conflicts of interest, facilitation payments, health and safety, Human Dignity and Labour, donations and community support.</p>

						<a href="who-we-are.html" class="cta cta--blue">Our Policies</a> <a href="we-speak-up.html" class="cta cta--blue">Discover the We Speak Up Programme</a>
					</div>
					<div class="mod-columns-two__col">
						<img src="assets/media/images/content/compliance/signature.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="mod-spacer"></div>
			<div class="container mod-title mod-content ivanim-slidefade">
				<div class="mod-title__inner">
					<h2><strong>we</strong>•<strong>care</strong></h2>
				</div>
			</div>
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<h2>Our colleagues are essential to our success.</h2>

						<p><strong>Providing a safe and healthy work environment is our number one priority and we are committed to ensuring the safety of all our employees, contractors and visitors across all operations. Investing in our people and transparent, two-way communication between our leaders and workforce are core parts of our culture.</strong></p>

						<p>We are also an inclusive, performance and capability-based employer, which does not discriminate, among others, based on gender, ethnicity, religion, nationality or disability. Our Business Ethics Policy outlines the business standards and behaviours we expect from our colleagues. Each of our operating sites and offices have their own Health & Safety and Ethics Policies, requiring them to operate to internationally recognised best practice standards, taking into account local laws and regulations.</p>
						<p>We expect all individuals working for or within the Group to conduct business responsibly and with integrity. We have a Supplier’s Code of Conduct and a number of other policies which define our control measures against corruption and bribery, including the Anti-bribery & Corruption, Whistleblowing, and Business Ethics Policies. We aim to apply our sustainability governance and practices to all partners across our upstream and downstream supply chains.</p>

						<a href="we-speak-up.html" class="cta cta--blue">How to report a concern</a>
					</div>
					<div class="mod-columns-two__col">
						<img src="assets/media/images/content/compliance/colleagues.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="mod-highlight">
				<div class="container">
					<div class="mod-content ivanim-slidefade">
						<div class="mod-column-highlight cta-wrapper-white">
							<h2>General enquiries</h2>

							<p>Email: <strong>compliance@cinerglass.com</strong></p>
							<p>Attention: Global Head of Compliance</p>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<h2><strong>we</strong>•<strong>speakup</strong></h2>

						<p>Our employees can convey any concerns and report potential violations of our Business Ethics Code through any of the reporting channels, as detailed within the Whistleblowing Policy or via our designated <strong>we•speakup</strong> programme. Email <strong>wespeakup@cinerglass.com</strong>.</p>

						<a href="we-speak-up.html" class="cta cta--blue">Find out more</a>
					</div>
					<div class="mod-columns-two__col">
						<img src="assets/media/images/content/compliance/we-speak-up.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="mod-spacer"></div>

			

			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
