<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<div class="mod-spacer"></div>
			
			<div class="container">
				<div class="mod-breadcrumb mod-content">
					<p><a href="news-and-views.html">News and views</a> > Ebbw Vale: Plan for 600-job glass bottle factory unveiled</p>
				</div>
			</div>

			<div class="container">
				<div class="mod-titletext mod-content js-anim-children--slidefade">
					<div class="mod-titletext__title">	
						<h3>October 4, 2023</h3>
					</div>
					<div class="mod-titletext__text">
						<h2>Ebbw Vale: Plan for 600-job glass bottle factory unveiled</h2>
						<p>Plans to build a glass bottle manufacturing plant which would create 600 jobs have been unveiled. Ciner Glass wants to open the factory in Ebbw Vale by 2023, with full production starting the following year. If the factory is built, there could be up to 100 extra lorry journeys in the area each day. A scoping report, which is usually submitted before a formal planning application, has been presented to Blaenau Gwent Council.</p>
						<p><a href="https://www.bbc.co.uk/news/uk-wales-52660810">Read more</a></p>
					</div>
				</div>
			</div>
			<div class="mod-spacer"></div>
			

			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
