<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<div class="mod-spacer"></div>
			<!-- title and copy -->
			@@include('../partials/title-text.html', {"title":"News & Views", "copy":"Discover more about Ciner Glass in our news library, where you can find the latest updates and links to useful resources."})
			
			<div class="mod-news container">

				<nav class="mod-news-nav">
					<span class="mod-news-nav-label">
						View by topic
					</span>
					<ul class="js-anim-children--fade">
						<li><a href="" title="">All</a></li>
						<li><a href="" title="">Global group</a></li>
						<li><a href="" title="">Belgium</a></li>
						<li><a href="" title="">Turkey</a></li>
						<li><a href="" title="">Wales</a></li>
					</ul>
				</nav>

				<div class="mod-news__inner js-anim-children--fade">
					<a href="news-article.html" class="news-item news-item--w40">
						<figure class="news-item__media">
							<img src="assets/media/images/content/news/article1.jpg" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Global group</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Ebbw Vale: Plan for 600-job glass bottle factory unveiled</h3>
							</div>
						</div>
					</a>

					<a href="https://www.bbc.com/news/uk-wales-52660810" class="news-item news-item--w60 external">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Greenfield Container Plant Proposed For UK</h3>
							</div>
						</div>
					</a>

					<a href="news-article.html"  class="news-item news-item--w60">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Turkey</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Greenfield Container Plant Proposed For UK</h3>
							</div>
						</div>
					</a>

					<a href="https://www.glassworldwide.co.uk/industry-announcements/greenfield-container-plant-proposed-uk" class="news-item news-item--w40 external">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Greenfield Container Plant Proposed For UK</h3>
							</div>
						</div>
					</a>

					<a href="https://www.bbc.com/news/uk-wales-57679382" class="news-item news-item--full external">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Ebbw Vale glass factory to create 650 jobs</h3>
							</div>
						</div>
					</a>

					<a href="https://www.glass-international.com/news/ciner-glass-unveils-uk-glass-manufacturing-plant-plans" class="news-item news-item--onethird external">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Ciner Glass unveils UK glass manufacturing plant plans</h3>
							</div>
						</div>
					</a>
					<a href="https://www.glassworldwide.co.uk/Articles/exclusive-ciner-glass-article" class="news-item news-item--onethird external">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Greenfield Container Plant Proposed For UK</h3>
							</div>
						</div>
					</a>
					<a href="news-article.html" class="news-item news-item--onethird">
						<figure class="news-item__media">
							<img src="assets/media/images/placeholder.png" alt="">
						</figure>
						<div class="news-item__content">
							<div class="news-item__content__inner">
								<div class="news-item-tag"><span>Belgium</span></div>
								<span class="news-item-external"><svg xmlns="http://www.w3.org/2000/svg" width="7.873" height="7.873" viewBox="0 0 7.873 7.873"><path class="icon-external" d="M0,0V7.873H7.873V5.9H6.889v.984H.984V.984h.984V0ZM3.937,0,5.413,1.476l-2.46,2.46.984.984L6.4,2.46,7.873,3.937V0Z"/></svg></span>
								<h3 class="news-item-title">Greenfield Container Plant Proposed For UK</h3>
							</div>
						</div>
					</a>
				</div>
				
				<nav class="mod-news-pagination">
					<ul class="ivanim-fade">
						<li><a href="" class="current" title="">1</a></li>
						<li><a href="" title="">2</a></li>
						<li><a href="" title="">3</a></li>
					</ul>
				</nav>

			</div>


			<div class="mod-spacer"></div>
			

			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
