<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<!-- <div class="mod-spacer"></div> -->
			
			<div class="mod-compliance-terms">

				<div class="data-companies-list" data-sent="3">
				  	<div class="item" data-id="1" data-businessname="Ciner Glass Belgium" data-address="Ciner Glass Belgium NV Louis Pasteurstraat 21, Lommel 3920 Belgium" data-country="Belgium" data-email="dataprivacy@cinerglass.com" data-formlink=""></div>
				  	<div class="item" data-id="2" data-businessname="Ciner Glass Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="3" data-businessname="Ciner Glass Productions Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="4" data-businessname="Ciner Glass Property Ltd" data-address="2nd Floor, 23 College Hill, London, United Kingdom, EC4R 2RP" data-country="UK" data-email="dataprivacy@cinerglass.com" data-formlink="Not applicable"></div>
				  	<div class="item" data-id="5" data-businessname="Park Cam San. Ve Tic. A.S." data-address="Bozuyuk Organized Industrial Area, 3rd Street No: 12, PB 11300, Bozuyuk / Bilecik" data-country="Turkey" data-email="to be provided, not ready" data-formlink="to be provided, not ready"></div>
				</div>

				<div class="mod-highlight">
					<div class="container">
						<div class="mod-content ivanim-slidefade">
							<div class="mod-column-highlight cta-wrapper-white">
								<h1>Privacy Notice</h1>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="mod-columns-two mod-content ivanim-slidefade">
						<div class="mod-columns-two__col table-of-content">
							<div class="js-table-of-content" data-title="Table of Contents"></div>
						</div>
						<div class="mod-columns-two__col">
							<h1>Privacy Notice for reporting persons</h1>

							<p>This Privacy Notice was prepared for those persons reporting a breach in accordance with the Ethics Reporting Process to <strong>[[businessName]]</strong> residing at <strong>[[address]]</strong>, in order to fulfil the obligation to inform in accordance with the UK GDPR, the Data Protection Act 2018 (DPA 2018) and other relevant legislation.</p>

							<h2>A. Method of collection of personal data</h2>

							<p>During the Ethics Reporting Process, our Company obtains personal data as disclosed by the Reporting Persons via post, e-mail, or via our third-party managed Ethics Reporting line, <strong>we•speakup</strong> platform.</p>

							<h2>b. Purpose of and lawful bases for the processing of personal data</h2>

							<p>DPA 2018 defines Processing as an operation or set of operations which is performed on information, or on sets of information, such as (a) collection, recording, organisation, structuring or storage, (b) adaptation or alteration, (c) retrieval, consultation or use, (d) disclosure by transmission, dissemination or otherwise making available, (e) alignment or combination, or (f) restriction, erasure or destruction. Accordingly, the categories of personal data, the purpose of and lawful basis for processing (as per Article 6(1) of the UK GDPR) are described below.</p>

							<!--  -->
							<table>
								<thead>
									<tr>
										<th>Lawful Basis</th>
										<th>Data Category</th>
										<th>Personal Data</th>
										<th>Purpose of Processing</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Legal obligation - where data processing is mandatory for the data controller to fulfil its legal obligation.</td>
										<td>Contact Data</td>
										<td>Address, Email address, Telephone number</td>
										<td>Informing Authorized Persons, Institutions and Organizations, Following Up and Carrying Out Legal Affairs, Carrying out Storage and Archiving Activities</td>
									</tr>
									<tr>
										<td>Legal obligation - where data processing is mandatory for the data controller to fulfil its legal obligation.</td>
										<td>Identity Data</td>
										<td>Name and Surname</td>
										<td>Informing Authorized Persons, Institutions and Organizations, Following Up and Carrying Out Legal Affairs, Carrying out Storage and Archiving Activities</td>
									</tr>
									<tr>
										<td>Legal obligation - where data processing is mandatory for the data controller to fulfil its legal obligation.</td>
										<td>Personnel Information</td>
										<td>Title, Affiliated Department and Manager Information</td>
										<td>Informing Authorized Persons, Institutions and Organizations, Following Up and Carrying Out Legal Affairs, Carrying out Storage and Archiving Activities</td>
									</tr>
									<tr>
										<td>Legitimate Interest of the Data Controller</td>
										<td>Other</td>
										<td>Incident Subject to Reporting</td>
										<td>Carrying Out Audit / Ethics Activities, Reporting Through the Ethics Hotline Reporting Application, Carrying Out Internal Audit Activities</td>
									</tr>
									<tr>
										<td>Legitimate Interest of the Data Controller</td>
										<td>Contact Data</td>
										<td>Address, Email address, Telephone number</td>
										<td>Carrying Out Audit / Ethics Activities, Reporting Through the Ethics Hotline Reporting Application, Carrying Out Internal Audit Activities, Carrying out Communication Activities</td>
									</tr>
									<tr>
										<td>Legitimate Interest of the Data Controller</td>
										<td>Identity Data</td>
										<td>Name and Surname</td>
										<td>Carrying Out Audit / Ethics Activities, Reporting Through the Ethics Hotline Reporting Application, Carrying Out Internal Audit Activities</td>
									</tr>
									<tr>
										<td>Legitimate Interest of the Data Controller</td>
										<td>Personnel Information</td>
										<td>Title, Affiliated Department and Manager Information</td>
										<td>Carrying Out Audit / Ethics Activities, Carrying Out Internal Audit Activities, Carrying Out Risk Management Processes</td>
									</tr>
									<tr>
										<td>Consent (Specific to those who report through Navex Global Ethics/Reporting hotline)</td>
										<td>Other</td>
										<td>Incident Subject to Reporting</td>
										<td>Providing Service Through the Ethics Hotline Reporting Application Through an Infrastructure Established Abroad</td>
									</tr>
									<tr>
										<td>Consent (Specific to those who report through Navex Global Ethics/Reporting hotline)</td>
										<td>Contact Data</td>
										<td>Address, Email address, Telephone number</td>
										<td>Providing Service Through the Ethics Hotline Reporting Application Through an Infrastructure Established Abroad</td>
									</tr>
									<tr>
										<td>Consent (Specific to those who report through Navex Global Ethics/Reporting hotline)</td>
										<td>Identity Data</td>
										<td>Name and Surname</td>
										<td>Providing Service Through the Ethics Hotline Reporting Application Through an Infrastructure Established Abroad</td>
									</tr>
								</tbody>
							</table>

							<h2>C. For what purposes and to whom  personal data can be transferred</h2>

							<p>Our Company strives to process your personal data in accordance with the principles of “data minimization” and “purpose limitation”, i.e., by ensuring that personal data shall be processed only to the amount necessary and to the extent relevant to the purpose and take the requisite technical and administrative security measures. Your personal data will be processed in accordance with the applicable data protection laws and transferred only in the following cases and to specified third parties.</p>

							<!--  -->
							<table>
								<thead>
									<tr>
										<th>Recipients / Recipient Groups</th>
										<th>Reason for Transfer</th>
										<th>Data Transferred</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											If relevant, and limited to the relevant part, Group Companies, Affiliates and Subsidiaries, and Competent Audit Companies in Case of Need for External Audit
										</td>
										<td>
											Carrying Out Internal Audit Activities, Carrying Out Audit / Ethics Activities
										</td>
										<td>
											Personnel Information (Title, Affiliated Department and Manager Information), Contact Data (Address, Telephone number, E-mail address), Identity Data (Name and Surname), Other (Incident Subject to Reporting)
										</td>
									</tr>
									<tr>
										<td>
											Authorized Persons, Institutions and Organizations, Our Company’s Counsels, Judicial and/or Administrative Judicial Authorities
										</td>
										<td>
											Following Up and Carrying Out Legal Affairs
										</td>
										<td>
											Contact Data (Address, E-mail address, Telephone number), Identity Data (Name and Surname), Personnel Information (Title, Affiliated Department and Manager Information)
										</td>
									</tr>
									<tr>
										<td>
											Authorized Persons, Public Bodies and Organizations
										</td>
										<td>
											Informing Authorized Persons, Public Bodies and Organizations
										</td>
										<td>
											Contact Data (Address, E-mail address, Telephone number), Identity Data (Name and Surname), Personnel Information (Title, Affiliated Department and Manager Information)
										</td>
									</tr>
									<tr>
										<td>
											NAVEX Global, Ethics Hotline Platform Infrastructure Provider residing abroad (Specific to those who report through Navex Global Ethics/Reporting hotline)
										</td>
										<td>
											Service Procurement for the Ethics Hotline Platform Managed by Our Company
										</td>
										<td>
											Other (Incident Subject to Reporting), Contact Data (Address, E-mail address, Telephone number), Identity Data (Name and Surname)
										</td>
									</tr>
								</tbody>
							</table>

							<h2>D. How long the data will be retained</h2>

							<p>We will only retain your personal data for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal or reporting requirements. </p>

							<h2>E. Rights of the data subjects and the method for exercising these rights</h2>

							<p>Under certain circumstances, you have rights under applicable data protection laws in relation to your personal data, as follows:</p>
							<ul>
								<li>Request access to your personal data.</li>
								<li>Request correction of your personal data.</li>
								<li>Request erasure of your personal data.</li>
								<li>Object to processing of your personal data (including an absolute right to object to our use of your personal data for marketing purposes).</li>
								<li>Request restriction of processing your personal data.</li>
								<li>Request transfer of your personal data.</li>
								<li>Right to withdraw consent.</li>
							</ul>
							<p>If you wish to contact us about any of these rights, please use the details below. We will respond without delay and in any event usually within one month of receipt of your request. We will not charge a fee to deal with your request in most circumstances, however, if there are excess administrative costs to deal with the request or you would like further copies then a reasonable fee may be charged.</p>	

							<h2>Changes to this privacy notice</h2>	
							<p>This privacy notice may be updated from time to time and you are requested to periodically return to this notice to familiarise yourself with any changes.</p>

							<h2>Contact details</h2>
							<p>If you have any questions about this privacy notice or our privacy practices, please contact us at <a href="mailto:[[email]]">[[email]]</a>.</p>

							<p>Please contact us if you are unhappy about our processing of your personal data. You also have the right to make a complaint to the Information Commissioner’s Office (ICO), the UK regulator for data protection issues (<a href="https://www.ico.org.uk" target="_blank">www.ico.org.uk</a>). We are registered with the Information Commissioner’s Office under number ZA844354 as the data controller responsible for processing your personal data.</p>

							<p>This privacy notice is effective as of 11 March 2024.</p>

							<div class="mod-compliance-form mod-compliance-form--lightskin">
								<form action="consent.html">
									<input type="checkbox" id="correctinfo" required><label for="correctinfo">I confirm I have provided the correct information above.</label>
									<input type="submit" value="submit">
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			

			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
