<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			
			<div class="mod-spacer"></div>
			<!-- title and copy -->
			@@include('../partials/title-text.html', {"title":"Where we operate", "copy":""})

		
			@@include('../partials/imagefullscreen.html', {"image":"whereweoperate/park_cam-3.jpg"})
			<div class="mod-spacer"></div>

			

			
			

			

			<!-- <div class="container mod-title">
				<div class="mod-title__inner">
					<h2>Turkey</h2>
				</div>
			</div>
			<div class="container container--nomargin-mobile js-anim-children--slidefade">
				<div class="mod-textimage mod-textimage--normal mod-content">
					<figure class="mod-textimage__image">
						<img src="assets/media/images/content/whoweare/park_cam-66.jpg" alt="">
					</figure>
					<div class="mod-textimage__text">	
						<div class="mod-textimage__text__inner">
							<p>Ciner Glass has been operating in Turkey for over a decade. The company first acquired land in the Bozüyük Industrial Zone in 2011 to produce glass packaging products.</p>

							<p>Ciner’s Turkish operational facility, named Park Glass, opened its first production line in 2013 and completed its second line in 2015. A third furnace is under construction. The company produces 1,000 tonnes of glass per day and owns 22 per cent of the Turkish beverage market.</p>
 

							<p>To find out more about our Turkish operations, visit: <a href="https://parkcam.com.tr/en/home/" target="_blank">https://parkcam.com.tr/en/home/</a></p>
						</div>
					</div>
				</div>
			</div> -->
			<div class="container mod-title mod-content ivanim-slidefade" id="turkey">
				<div class="mod-title__inner">
					<h2>Turkey</h2>
				</div>
			</div>
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<p>Ciner Glass has been operating in Turkey for over a decade. The company first acquired land in the Bozüyük Industrial Zone in 2011 to produce glass packaging products.</p>

						<p>Ciner’s Turkish operational facility, named Park Glass, opened its first production line in 2013 and completed its second line in 2015. A third furnace is under construction. The company produces 1,000 tonnes of glass per day and owns 22 per cent of the Turkish beverage market.</p>


						<p>To find out more about our Turkish operations, visit: <a href="https://parkcam.com.tr/en/home/" target="_blank">https://parkcam.com.tr/en/home/</a></p>
					</div>
					<div class="mod-columns-two__col">
						<img src="assets/media/images/content/whoweare/park_cam-66.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="mod-spacer"></div>

			<div class="container mod-title mod-content ivanim-slidefade" id="belgium">
				<div class="mod-title__inner">
					<h2>Belgium</h2>
				</div>
			</div>
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<p>In light of the increasing demand for container glass, Ciner Glass has decided to invest in <strong>local production to supply the European beverage market</strong>. We aim to get as close to our customers as possible to reduce the economic and environmental costs associated with glass transportation. Constructing a container glass production facility on the European mainland will notonly directly support the shift away from plastic bottles and containers but also create job opportunities and generate wider economic benefits for future generations.</p>

						<p>After researching various sites, our teams chose the <strong>strategic location of Kristalpark III in Lommel</strong>, Flanders, Belgium. Lommel is well-positioned to serve Ciner Glass’ existing European customers and has along and rich tradition of glass production. The availability of silica sand, the perfect raw material for high-quality glass, and cullet, allowing to increase thepercentage of recycled glass to 70% (instead of 50%), make it an obvious choice for Ciner Glass’ expansion. Additionally, Lommel’s proximity to the port of Antwerp offers opportunities for the export of container glass beyond Belgium and the Netherlands.</p>

						<img src="assets/media/images/content/whereweoperate/220623-Ciner-CinerGlass.com-Image_Project_for_Lommel_02.jpg" alt="">
					</div>
					<div class="mod-columns-two__col">
						<img src="assets/media/images/content/whereweoperate/220623-Ciner-CinerGlass.com-Image_Project_for_Lommel_01.jpg" alt="">

						<p>Our project in Lommel involves the construction of a new, <strong>state-of-the-art container glass production facility</strong>. It will include two furnaces, which will be constructed in two phases. Warehouses will be built for storing raw materials, waste and finished products. The site will also feature an administrative building, parking spaces for cars and trucks, rainwater infiltration basins, and utility facilities (including a high-voltage room and a natural gas relaxation station).</p>

						<p>Ciner Glass plans to <strong>invest over €500 million</strong>, marking one of the biggest foreign investments in Belgium in the last ten years.<br />
						The project will create <strong>direct job opportunities for up to 500 people</strong>, who will acquire the specific skill set required for glass making through an in-depth and thorough training program. Furthermore, a substantial supply chain of local and regional businesses will be established.</p>

						<p>We are <strong>collaborating closely with our local partners</strong>, including the City of Lommel, the Flemish Government, Kristalpark III, LRM, FIT, and VLAIO, among others, to ensure the successful completion of the project. Additionally, we actively engage with the local community to stay connected and gain a better understanding of their expectations and needs.</p>

						<p>We look forward to turning our ambition into reality and, together, reviving Belgium’s legacy in glass production.</p>
					</div>
				</div>
			</div>
			<div class="mod-spacer"></div>


			<div class="container mod-title mod-content ivanim-slidefade" id="wales">
				<div class="mod-title__inner">
					<h2>Wales</h2>
				</div>
			</div>
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<p>As part of our plans, we want to build a new leading UK glass bottle manufacturing facility in the UK to help meet the country’s demands. Located in the heart of the Gwent Valleys, the proposed development would build on the area’s proud industrial heritage, whilst also creating a sustainable industry for future generations.</p>

						<p>The facility has the potential to produce millions of recyclable glass bottles each year. It also promises to bring almost 
						600 new highly skilled jobs to Blaenau Gwent, along with significant supply chain opportunities right across Wales.</p>

						<p>As a UK company, we provide beer and wine bottles to the food and drink industry across Europe – producing 16 billion bottles since 2013 – helping to shape the future of the Container Glass Industry.</p>

						<p>Our goal is to be the world’s leading glass production centre, using the latest and most advanced technology, with an economic development model that values its people. We plan to play an integral role in the future prosperity of Wales by providing recyclable glass cullet to reduce the requirement for local, regional and national resources, helping bring carbon savings and contribute towards the country’s vision for a circular economy.</p>
					</div>
					<div class="mod-columns-two__col">
						<!-- second set -->
						<p>Although we are not one of the oldest or the biggest glass companies, we believe our modern and forward-thinking approach makes us one of the best. Our vision is global, but our approach will always remain local.</p>

						<p>We believe the most successful way of helping local, regional and national economies bounce back from the pandemic 
						and create high-growth renewable sectors is by investing in communities for the long term.</p>

						<p>Our investment in Blaenau Gwent will create long-lasting partnerships across the area for decades to come. We are a family business and believe in the importance of investing in the local community. From suppliers, to sponsors, to apprenticeship schemes, we hope to become a proud asset to a community and county that we can call home.</p>

						<p>We hope this investment will be the start of a strong relationship between the people of Blaenau Gwent and Ciner Glass – one that will continue for decades to come. We are committed to making a real contribution to the future prosperity of Wales and look forward to engaging with the local community as we develop our plans.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="mod-columns-two mod-content ivanim-slidefade">
					<div class="mod-columns-two__col">
						<figure>
							<img src="assets/media/images/content/whereweoperate/placeholder.png" alt="">
						</figure>
					</div>
					<div class="mod-columns-two__col">
						<figure>
							<img src="assets/media/images/content/whereweoperate/placeholder.png" alt="">
						</figure>
					</div>
				</div>
			</div>


			<div class="mod-spacer"></div>


			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
