<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>cinerglass</title>
	<meta name="author" content="cinerglass">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no">
	<link rel="stylesheet" type="text/css" href="assets/css/main.css">

	<link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">

	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
	@@include('../partials/scripts.html')
</head>
<body data-barba="wrapper">
	<div id="page">
		<a href="#content" class="screen-reader-text">Skip to content</a>

		@@include('../partials/header.html')

		<div class="pageloader"><div></div></div>
		<main data-barba="container" data-barba-namespace="article">
			
			<div class="mod-spacer"></div>

			<!-- title and copy -->
			@@include('../partials/title-text.html', {"title":"Who we are", "copy":"<p>Ciner Glass Ltd is the global leader in container glass production and a subsidiary of the Ciner Group - a large Turkish industrial conglomerate which operates in five main sectors: energy and mining, natural soda ash, glass and chemicals, maritime and shipping, and news and entertainment media.</p>"})
			
			<div class="container container--nomargin-mobile js-anim-children--slidefade">
				<div class="mod-textimage mod-textimage--normal mod-content">
					<figure class="mod-textimage__image">
						<img src="assets/media/images/content/whoweare/park_cam-66.jpg" alt="">
					</figure>
					<div class="mod-textimage__text">	
						<div class="mod-textimage__text__inner">
							<h2>Ciner Glass</h2>
							<p>Ciner Glass is the world's leading glass container production company. We work to supply-.high-quality sustainable glass- bottles to global food and drink producers through our industry-leading centre of engineering excellence in glass technology situated across global markets.</p>
							<p>Ciner Glass is part of the wider Ciner Group, a family-owned conglomerate which operates in five main sectors: Energy and Mining, Natural Soda Ash, Glass and Chemicals. Maritime and Shipping and News and Entertainment Media.</p>
						</div>
					</div>
				</div>
				<div class="mod-textimage mod-textimage--reverse mod-content">
					<figure class="mod-textimage__image">
						<img src="assets/media/images/content/whoweare/park_cam-4.jpg" alt="">
					</figure>
					<div class="mod-textimage__text">
						<div class="mod-textimage__text__inner">	
							<h2>Our Story</h2>
							<p>The Ciner Glass journey began in 2011 with the opening of the Park Cam glass plant. In 2013, the company opened the Boyüzük Plant to help increase the capacity of producing up to 1,000 tonnes of glass per day and serving 22% of the Turkish beverage market.</p>

							<p>In 2018, Ciner Glass decided to expand its operations worldwide. In 2019, Ciner Glass UK headquarters opened in London while Ciner Glass Belgium opened shortly afterwards with the aim of producing two million tons of container glass a year across the UK, Europe, Turkey and the United States.</p>
						</div>
					</div>
				</div>
				<div class="mod-textimage mod-textimage--normal mod-content">
					<figure class="mod-textimage__image">
						<img src="assets/media/images/content/whoweare/park_cam-49.jpg" alt="">
					</figure>
					<div class="mod-textimage__text">
						<div class="mod-textimage__text__inner">
							<h2>Our People</h2>
							<p>We have over 1,000 employees across our production sites in Turkey, Wales and Belgium, as well as our headquarters in London.</p>

							<p>Investing in our people is core to our business and culture.<br />It has helped drive our growth from a start-up in 2013 to become a world leader in glass container production. This teamwork and dedication to empowering, developing and rewarding individuals is key to our long-term success.</p>

							<p>The Ciner Glass company is underpinned by the following values:</p>
							<ul>
								<li>Protecting human rights, equality, diversity and inclusion</li>
								<li>Maintaining exemplary health and safety standards</li>
								<li>Maximising development opportunities and fostering creative innovation</li>
								<li>Community support initiatives</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			
			
			<div class="mod-spacer mod-spacer--small"></div>

			<div class="mod-ourboard">
				<div class="mod-ourboard__inner">
					<h2>Our board</h2>

					<div class="container">
						<div class="mod-ourboard__list js-anim-children--slidefade">
							<div class="mod-person">
								<div class="mod-person__media">
									<figure>
										<img src="assets/media/images/content/whoweare/didem-ciner.jpg" alt="">
									</figure>
								</div>
								<div class="mod-person__info">
									<div class="mod-person__info__inner">
										<h3 class="mod-person__info__name">Didem Ciner</h3>
										<p class="mod-person__info__role">President</p>
										<div class="mod-person__info__bio">
											<p>Mrs Didem Ciner is the President of Ciner Glass and Ciner Media. Her career spans over two decades at the company and she brings a wealth of experience to her role as President of Ciner Glass. This involves overseeing the company’s ambitiousplans to build glass manufacturing plants in UK and Europe, as well as developing strong and long-lasting partnerships with businesses, suppliers and charities across the local environment.</p>
										</div>
									</div>
								</div>
							</div>

							

							@@include('../partials/person.html', {"name":"Gokhan Sen", "role":"Chief Executive of Ciner Glass UK", "img":"gokhan-sen.jpg", "bio":"Gokhan Sen was appointed as Chief Executive of CINER Glass in September 2023 to help run the day-to-day operations for Ciner Glass in Europe as the company’s glass plant projects in Belgium and Wales. Mr. Sen has worked at the CiNER company for a number of years. <br />In his previous role as Lead Co-ordinator for the company’s European projects, he was in charge of helping to oversee the planning application process, setting out and progressing project timelines while also developing key relationships with customers and partners across both Wales and Belgium."})

							@@include('../partials/person.html', {"name":"Mehmet Ali Erdogan", "role":"Head of Legal", "img":"mehmet-ali-erdogan.jpg", "bio":"Mehmet Ali has been a legal advisor to a number of Ciner group companies for over 15 years, and a practicing solicitor and lawyer for over 25 years. He is a dual qualified English solicitor and Turkish lawyer with offices in both the UK and Turkey."})

							@@include('../partials/person.html', {"name":"Sir Peter Westmacott", "role":"Non-Executive Director", "img":"sir-peter-westmacott.jpg", "bio":"Sir Peter Westmacott is currently an independent non-executive director for Ciner Glass UK."})

							@@include('../partials/person.html', {"name":"Nicholas Hall", "role":"Chief Financial Officer for CiNER Glass UK", "img":"nicholas-hall.jpg", "bio":"Mr. Hall, a former managing director at JP Morgan, joined CiNER Glass in 2023 with over 27 years of capital markets and strategic advisory experience. <br /><br />He has worked closely with WE Soda for the last five years and has been involved as a lead advisor in all of the company’s most important strategic projects."})

							<!-- @@include('../partials/person.html', {"name":"Cuneyt Basaran", "role":"Executive Board member responsible for Chief Strategy and Risk Management of CiNER Glass", "img":"cuneyt-basaran.jpg", "bio":"Executive Board Member and Chief Strategy and Revenue Officer for CiNER Glass. Mr. Basaran has worked as a senior economic advisor at the company for over a decade, helping oversee the company’s ambitious expansion plans in Europe as well as across Turkey.  Mr Basaran also works as a senior economist for the Ciner Group’s parent company, We Soda. He began his career working as the Editor of Bloomberg Turkey."}) -->
						</div>
					</div>
					<div class="mod-spacer"></div>
				</div>
			</div>


			@@include('../partials/footer.html')
		</main>

		
		@@include('../partials/menu.html', {"home":"true"})
	</div>
<script>
	window.jQuery || document.write('<script type="text/javascript" src="assets/js/vendors/jquery.js"><\/script>')
</script>
<script src="assets/js/main.js"></script>
</body>
</html>
