<div class="ivanim-fade">
	
	<div class="herocareers-top">
		<div class="herocareers-top__inner">
			<div class="herocareers-top__media overlay-navy70">
				<img src="assets/media/images/content/careers/hero.jpg" alt="Hero">
			</div>
			<div class="herocareers-top__content">
				<div class="herocareers-top__content__inner">
					<div class="container">
						<h1>Join the ciner family <i><svg xmlns="http://www.w3.org/2000/svg" width="69.838" height="79.964" viewBox="0 0 69.838 79.964">
						  <g transform="translate(-1138.162 -452.982)">
							<path d="M1255.968,493.241l-.322-.161c-1.287-1.448-2.574-3.379-2.574-5.309,0-4.666,3.378-8.367,7.723-8.367,4.184,0,7.723,3.7,7.723,8.367,0,3.54-2.735,6.436-5.309,7.723,0,0-.483.482.322.643a36.34,36.34,0,0,1,5.309.643,8.171,8.171,0,0,1,5.149,4.183c1.448,2.9,1.448,6.436,1.448,10.458v12.228a18.727,18.727,0,0,1-.644,4.183c-.482,1.126-.965,3.539-6.114,4.5h-.161v27.03h-15.124V532.177s-4.344-.8-5.47-2.9a13.2,13.2,0,0,1-1.287-6.436V505.308a10.408,10.408,0,0,1,3.057-6.757s1.609-1.931,6.114-2.413l3.057-.161s.482-.322-.483-.8A9.014,9.014,0,0,1,1255.968,493.241Z" transform="translate(-88.041 -26.422)" fill="#fff" fill-rule="evenodd"/>
							<path d="M1336.856,570.719h0a4.808,4.808,0,0,1-1.609-3.379,5,5,0,0,1,4.666-5.149,4.894,4.894,0,0,1,4.666,5.149,5.594,5.594,0,0,1-3.218,4.666s-.322.322.161.322a12.023,12.023,0,0,1,3.218.483,5.3,5.3,0,0,1,3.218,2.574c.965,1.77.8,3.862.8,6.275v7.4a9.057,9.057,0,0,1-.322,2.574c-.322.644-.644,2.092-3.7,2.735h0v16.411h-9.01V594.371s-2.735-.483-3.379-1.77a8.346,8.346,0,0,1-.8-3.862V578.12a6.442,6.442,0,0,1,1.931-4.183s.965-1.126,3.7-1.448l1.77-.161s.322-.161-.322-.483A5.258,5.258,0,0,1,1336.856,570.719Z" transform="translate(-140.771 -77.835)" fill="#fff" fill-rule="evenodd"/>
							<path d="M1198.027,499.395h0a4.809,4.809,0,0,1-1.609-3.379,5,5,0,0,1,4.666-5.149,4.894,4.894,0,0,1,4.666,5.149,5.594,5.594,0,0,1-3.218,4.666s-.322.322.161.322a12.017,12.017,0,0,1,3.218.483,5.3,5.3,0,0,1,3.218,2.574c.965,1.77.8,3.861.8,6.275v7.4a9.045,9.045,0,0,1-.322,2.574c-.322.644-.643,2.092-3.7,2.735h0v16.411h-9.01V523.046s-2.735-.483-3.379-1.77a8.349,8.349,0,0,1-.8-3.862V506.8a6.44,6.44,0,0,1,1.931-4.183s.965-1.126,3.7-1.448l1.77-.161s.322-.161-.322-.483A5.26,5.26,0,0,1,1198.027,499.395Z" transform="translate(-54.555 -33.541)" fill="#fff" fill-rule="evenodd"/>
						  </g>
						</svg>
						</i></h1>
						<p>We work to attract, develop, empower and retain the best people, capable of operating to the highest standards in whatever roles they perform. Our skilled and highly capable global workforce is critical to our success, with each individual contributing to the vibrant performance culture we enjoy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="container">
		<div class="mod-imagetextboxcareers">
			<div class="mod-imagetextboxcareers__inner">
				<figure class="mod-imagetextboxcareers__media">
					<div class="embedtool"><iframe src="https://www.youtube.com/embed/CFRY9JGuJW0" frameborder="0" allowfullscreen></iframe></div>
					<!-- <img class="poster" src="assets/media/images/content/careers/careers-1.jpg" alt=""> -->
				</figure>
				<div class="mod-imagetextboxcareers__content">
					<div class="mod-imagetextboxcareers__content__inner">
						<h2>LATEST VACANCIES</h2>
						<p>We currently have vacancies at our exciting new glass factory project in Lommel, Belgium.</p>
						<a href="#cinerjobs">Apply now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="mod-spacer mod-spacer--small"></div>
<div class="container">
	<div class="mod-imagetextboxcareers-vertical">
		
		<div class="mod-imagetextboxcareers mod-imagetextboxcareers--vertical ivanim-slidefade">
			<div class="mod-imagetextboxcareers__inner">
				<figure class="mod-imagetextboxcareers__media">
					<img src="assets/media/images/content/whatwedo/park_cam-56.jpg" alt="">
				</figure>
				<div class="mod-imagetextboxcareers__content">
					<div class="mod-imagetextboxcareers__content__inner">
						<h2>Who we are</h2>
						<p>Ciner Glass is a leading glass production company, situated across global markets. We work to supply high-quality sustainable glass bottles to global food and drink producers through our industry-leading centre of engineering excellence in glass technology.</p>
						<a href="who-we-are.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mod-imagetextboxcareers mod-imagetextboxcareers--vertical ivanim-slidefade">
			<div class="mod-imagetextboxcareers__inner">
				<figure class="mod-imagetextboxcareers__media">
					<img src="https://cinerglass.com/wp-content/uploads/2023/10/Ciner-Glass-sustainable-skills-future-1024x576.jpg" alt="">
				</figure>
				<div class="mod-imagetextboxcareers__content">
					<div class="mod-imagetextboxcareers__content__inner">
						<h2>Where we operate</h2>
						<p>We aim to maintain and extend our leadership position in the glass industry in terms of production volumes, product quality and supply chain reliability, technology and process innovation and in safety and environmental standards.</p>
						<a href="where-we-operate.html">Read more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mod-imagetextboxcareers mod-imagetextboxcareers--vertical ivanim-slidefade">
			<div class="mod-imagetextboxcareers__inner">
				<figure class="mod-imagetextboxcareers__media">
					<img src="assets/media/images/content/whoweare/park_cam-49.jpg" alt="">
				</figure>
				<div class="mod-imagetextboxcareers__content">
					<div class="mod-imagetextboxcareers__content__inner">
						<h2>Benefits</h2>
						<p>Our benefits include flexible working, generous vacation days, employee health insurance, freedom, autonomy and comprehensive salary packages.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<div class="mod-spacer mod-spacer--small"></div>

<div class="container">
	<div id="cinerjobs">
		<div class="jobs-filter">
			<div class="jobs-filter__inner">
				<input id="jobkeywords" placeholder="Search" />
				<div class="select">
					<select name="joblocation" id="joblocation">
						<option value="">All job locations</option>
						<option value="belgium">Belgium</option>
						<option value="turkey">Turkey</option>
						<option value="wales">Wales</option>
					</select>
				</div>

				<div class="select">
					<select name="jobdepartment" id="jobdepartment">
						<option value="">All job departments</option>
						<!-- <option value="Business Development">Business Development</option>
						<option value="engineering">Engineering</option>
						<option value="department XYZ">Department XYZ</option> -->
					</select>
				</div>
			</div>
		</div>

		<div class="mod-joblist">
			<div class="mod-joblist__inner">
				<ul class="jobs-list list">
					<li class="job-listing job-listing--pinned">
						<div class="job-listing__inner">
							<h3 class="job-title">Business Development Manager</h3>
							<p class="job-secondyinfo">
								<span class="job-department" data-department="Business Development">Business Development</span> 
								<span class="job-location" data-location="belgium">Belgium</span>
							</p>

							<p class="job-thirdinfo">
								<span class="job-contract">Hybrid, Full-time</span>
							</p>
							<div class="job-description">
								<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum perferendis totam voluptates, doloribus vero, sit suscipit aperiam expedita aut beatae?</p>
							</div>

							<p class="job-dates">
								<span class="job-posted">Date posted: 27/02/2024</span>
								<span class="job-posted">Date posted: 27/02/2024</span>
							</p>

							<a target="_blank" href="https://www.linkedin.com/jobs/search/?currentJobId=3835152458&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073" class="cta">Apply now</a>
						</div>
					</li>
				
					@@include('../partials/job-listing.html', {
						"job-title":"Recruitment Manager", 
						"job-department":"Department XYZ", 
						"job-location":"Belgium", 
						"job-contract":"On-site, Full-time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3835152458&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=%2FlOgEbkq%2FZ4jzU%2Broywgpg%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})
					
					@@include('../partials/job-listing.html', {
						"job-title":"System Engineer", 
						"job-department":"Engineering", 
						"job-location":"Belgium", 
						"job-contract":"On-site, Full-time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3828934406&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=KUxLGGTn1YtPkWvOS%2BNuEw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})


					@@include('../partials/job-listing.html', {
						"job-title":"Architect Engineer", 
						"job-department":"Engineering", 
						"job-location":"Wales", 
						"job-contract":"On-site, Full-time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Senior Mechanical Engineer", 
						"job-department":"Engineering", 
						"job-location":"Wales", 
						"job-contract":"Fulltime", 
						"job-salary":"£40,000 - £48,000", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Electrical Engineer", 
						"job-department":"Engineering", 
						"job-location":"Wales", 
						"job-contract":"Fulltime", 
						"job-salary":"£34,000 - £40,000", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Corporate Affairs Manager", 
						"job-department":"Business Development", 
						"job-location":"Belgium", 
						"job-contract":"Fixed term", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Senior Project Manager. Design & Construction Manager. Fit Out & Refurbishment", 
						"job-department":"Business Development", 
						"job-location":"Belgium", 
						"job-contract":"Fulltime", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Sustainability Manager - Construction Glass", 
						"job-department":"Business Development", 
						"job-location":"Turkey", 
						"job-contract":"Part time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Vice President of Glass and Chemicals Group and CIO at Ciner Group", 
						"job-department":"Business Development", 
						"job-location":"Turkey", 
						"job-contract":"Hybrid, Full-time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Structural Engineer", 
						"job-department":"Engineering", 
						"job-location":"Belgium", 
						"job-contract":"Hybrid, Full-time", 
						"job-salary":"Competitive", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})

					@@include('../partials/job-listing.html', {
						"job-title":"Quality Controller Glass Bottle", 
						"job-department":"Engineering", 
						"job-location":"Belgium", 
						"job-contract":"Onsite, Full-time", 
						"job-salary":"£24,000 £27,000", 
						"job-url":"https://www.linkedin.com/jobs/search/?currentJobId=3820504073&f_C=67916809%2C100142481&geoId=92000000&origin=COMPANY_PAGE_JOBS_CLUSTER_EXPANSION&originToLandingJobPostings=3835152458%2C3828934406%2C3820504073&refId=L2yWHsFu7kleT5rWl2xrUw%3D%3D&trackingId=US1sOiJHi39mqt3DYwyT%2Bw%3D%3D&trk=d_flagship3_company&lipi=urn%3Ali%3Apage%3Ad_flagship3_company%3B9E5DjvbrQc6f%2FZkfstvptw%3D%3D", 
					})
					
				</ul>
				<div class="mod-jobs-pagination">
					<ul class="pagination"></ul>
				</div>

				<div class="not-found">
					<p>No result found. <a class="resetsearch" href="#resetsearch">Reset filters</a></p>

					<p>Lorem ipsum dolor sit amet consectetur adipisicing, elit. Quibusdam, iusto ratione quam, at provident aspernatur.
						If you think you could a good fit in our team please send us your CV at <a href="mailto:careers@cinerglass.com">careers@cinerglass.com</a></p>
				</div>

			</div>
		</div>
	</div>
</div>