<div class="mod-spacer mod-spacer--small"></div>
<div class="container container--nomargin-mobile">
	<div class="mod-imagetextbox ivanim-slidefade">
		<div class="mod-imagetextbox__inner">
			<figure class="mod-imagetextbox__media">
				<img src="assets/media/images/content/home/@@image" alt="">
			</figure>
			<div class="mod-imagetextbox__content">
				<div class="mod-imagetextbox__content__inner">
					<h3>@@title</h3>
					<p>@@copy</p>
					<a href="@@cta-url">@@cta</a>
				</div>
			</div>
		</div>
	</div>
</div>