<li class="job-listing">
	<div class="job-listing__inner">
		<h3 class="job-title">@@job-title</h3>
		<p class="job-secondyinfo">
			<span class="job-department" data-department="@@job-department">@@job-department</span> 
			<span class="job-location" data-location="@@job-location">@@job-location</span>
		</p>

		<p class="job-thirdinfo">
			<span class="job-contract">@@job-contract</span>
		</p>

		<div class="job-description">
			<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Earum perferendis totam voluptates, doloribus vero, sit suscipit aperiam expedita aut beatae?</p>
		</div>

		<p class="job-dates">
			<span class="job-posted">Date posted: 27/02/2024</span>
			<span class="job-posted">Date posted: 27/02/2024</span>
		</p>

		<a target="_blank" href="@@job-url" class="cta">Apply now</a>
	</div>
</li>