<nav class="main-menu">
	<div class="main-menu__overlay js-main-menu-toggle"></div>
	<div class="main-menu__inner">
		<ul>
        @@include('../partials/nav.html')
        </ul>

        <ul class="languages">
			<li class="lang-item lang-item-2 lang-item-en current-lang lang-item-first"><a lang="en-GB" hreflang="en-GB" href="http://localhost:8888/secnewgate/cinerglass/wordpress/sample-page/">English</a></li>
			<li class="lang-item lang-item-5 lang-item-nl"><a lang="nl-BE" hreflang="nl-BE" href="http://localhost:8888/secnewgate/cinerglass/wordpress/nl/nederlands-belgium/">Nederlands</a></li>
		</ul>
	</div>
</nav>
