<li class="menu-item-has-children">	
	<a href="who-we-are.html">ABOUT US</a>
	<ul>
		<li class="who-we-are"><a href="who-we-are.html">WHO WE ARE</a></li>
		<li class="what-we-do"><a href="what-we-do.html">WHAT WE DO</a></li>
		<li class="where-we-operate"><a href="where-we-operate.html">WHERE WE OPERATE</a></li>
	</ul>
</li>
<li class="careers menu-item-has-children"><a href="careers.html">CAREERS</a>
	<ul>
		<li><a href="">Belgium</a></li>
	</ul>
</li>
<li class="news-views"><a href="news-and-views.html">NEWS & VIEWS</a></li>
<li class="contact"><a href="contact.html">CONTACT US</a></li>
<li class=""><a href="https://www.cinergroup.com.tr/en" target="_blank">CINER GROUP</a></li>
