<div class="mod-sliderfullscreen ivanim-fade">
	<!-- <?php echo $slider_autoplay; ?> -->
	<!-- <?php echo $slider_autoplayspeed; ?> -->
	<div class="mod-sliderfullscreen__inner js-slider js-slider-1" data-slick='{"slidesToShow": 1, "slidesToScroll": 1, "dots": true, "arrows": true, "speed": 800, "fade": true, "autoplay": true, "autoplaySpeed": 3000 }'>
		<div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-21.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>The Global Leader in Glass Production</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-23.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>Ciner Glass Wales</h2>
							<p>Our goal for the world’s leading glass production centre, a new leading UK glass bottle manufacturing facility in the UK</p>
							
							<a href="where-we-operate.html#wales" class="cta cta--whitefilled">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-34.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>Ciner Glass Belgium</h2>
							<p>Ciner Glass’ project involves the construction of a new container glass production plant at Kristalpark III in Lommel</p>
							<a href="where-we-operate.html#belgium" class="cta cta--whitefilled">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-39.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>Recent News</h2>
							<p>Find the latest updates and links to useful resources in our news library</p>
							<a href="news-and-views.html" class="cta cta--whitefilled">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-40.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>The Global Leader in Glass Production</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slide">
			<div class="slide__inner">
				<div class="slide__media">
					<img src="assets/media/images/content/slider/park_cam-42.jpg" alt="">
				</div>
				<div class="slide__content">
					<div class="slide__content__inner">
						<div class="container">
							<h2>The Global Leader in Glass Production</h2>
						</div>
					</div>
				</div>
			</div>
		</div> -->
	</div>
</div>