<evg-section padding="fluid">
	<evg-wrapper size="lg" class="evg-longform">
		<div class="evg-spacing-bottom-xl">
			<p class="evg-text-size-body-lg">WRAP is a global environmental action NGO transforming our broken product and food systems to create Circular Living. For the benefit of the climate, nature, and people.</p><p>The old approach of take-make-dispose is the major cause of inequality, greenhouse gases and the mountains of waste polluting our water and destroying biodiversity.</p><p>A new approach is needed for food, textiles and manufactured products — which together account for nearly 50% of global greenhouse gas emissions.</p><p>We call this approach Circular Living - design-make-reuse - and it will radically reduce waste and carbon emissions from everyday products.</p><p>With technical expertise, an impartial evidence-base, and independent convening power, WRAP is perfectly placed to make Circular Living a reality.</p><p>For over twenty years, WRAP has delivered programs that reduce CO2 and waste, restore nature, and change peopleʼs behaviour.</p>
		</div>
		<evg-video>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/cTD-X0lhMWY?si=XrIxoMQQDj0nV34K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
		</evg-video>
	</evg-wrapper>
</evg-section>