<div class="mod-videofullscreen">
	<div class="mod-videofullscreen__inner">
		<a class="video-link video" href="https://www.youtube.com/watch?v=NpEaa2P7qZI">
			<div class="video__media">
				<div class="play drag-cursor"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 164 164"><path fill="#ffffff" fill-rule="evenodd" d="M82 164c45.287 0 82-36.713 82-82S127.287 0 82 0 0 36.713 0 82s36.713 82 82 82Zm20.569-80.276c1.315-.773 1.315-2.675 0-3.448L66.014 58.773C64.681 57.989 63 58.95 63 60.497v43.006c0 1.547 1.68 2.508 3.014 1.724l36.555-21.503Z" clip-rule="evenodd"/><path fill="url(#a)" fill-rule="evenodd" d="M82 164c45.287 0 82-36.713 82-82S127.287 0 82 0 0 36.713 0 82s36.713 82 82 82Zm20.569-80.276c1.315-.773 1.315-2.675 0-3.448L66.014 58.773C64.681 57.989 63 58.95 63 60.497v43.006c0 1.547 1.68 2.508 3.014 1.724l36.555-21.503Z" clip-rule="evenodd"/><defs><linearGradient id="a" x1="2.002" x2="150.74" y1="132.661" y2="132.658" gradientUnits="userSpaceOnUse"><stop stop-color="#fff"/><stop offset=".38" stop-color="#fff"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg></div>

				<figure>
					<img src="assets/media/images/content/home/video-poster.jpg" alt="">
				</figure>
				<video id="loop_video" class="lazyload video-clip js-poster poster" data-vid-src="assets/media/video/loop.mp4" muted playsinline loop></video>
				
				<!-- <div id="videoPlayer" class="video__player">
					<img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%20{{image-width}}%20{{image-height}}'%3E%3C/svg%3E" />
					<div class="sticky-container">
						<button class="sticky-container__close"><span class="screen-reader-text">Close the video</span></button>
						<div class="sticky-container__video">
							<iframe src="{{video-url}}&color=4EE6D5&portrait=0&byline=0&title=0" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen="" title="{{vimeo-title}}" data-ready="true"></iframe>
						</div>
					</div>
				</div> -->
			</div>
		</a>
	</div>
</div>