<!doctype html>
<html lang="en">
  <head>
    
    {{> core/head meta-title="Accessibility Statement"}}
  </head>

  <body id="body">
    {{> core/header}}
    
    {{> components/page-header-compact id="" title="Accessibility Statement" }}

    
    <evg-section padding="fluid">
      <evg-wrapper size="xl">
        <div class="evg-longform evg-longform-ae evg-spacing-bottom-lg">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In, ratione, obcaecati! Ratione, dolor, praesentium. Quis aut id facere, esse sed aliquid provident sequi velit corporis fuga vel est perferendis perspiciatis impedit ab rem fugit error earum excepturi possimus inventore. Et veritatis optio vel quae dolores necessitatibus reiciendis odit aperiam nemo quas, tenetur consequatur, vitae dignissimos quasi eveniet, vero eligendi! Ut.
        </div>
      </evg-wrapper>
    </evg-section> 
      
    {{> core/footer}}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../{{htmlWebpackPlugin.files.js}}?v={{ htmlWebpackPlugin.options.timestamp }}" async></script>

  </body>
</html>
