<!doctype html>
<html lang="en">
  <head>
    
    {{> core/head meta-title="Contact"}}
  </head>

  <body id="body">
    {{> core/header}}
    
    {{> components/page-header-compact id="standards-refillable" title="GET IN TOUCH" }}

    
    {{> components/contact-form }}

      
    {{> core/footer}}

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="../{{htmlWebpackPlugin.files.js}}?v={{ htmlWebpackPlugin.options.timestamp }}" async></script>

  </body>
</html>
