.ae-accordion {
    margin-bottom: 14px;
    
    .ae-accordion__toggle {
        cursor: pointer;
        position: relative;
        background-color: var(--evg-theme-background-sand);
        padding: 15px 20px;
        padding-right: 50px;
        
        @media (min-width: 1024px) {
            padding: 25px 32px;
        }

        .icon {
            position: absolute;
            top: 0;
            will-change: transform;
            transition: transform 0.3s ease;
            right: 25px;
            bottom: 0;
            align-self: center;
            width: 13px;
            height: 13px;
            i {
                position: relative;
                width: 100%;
                height: 100%;
            }
            &:before {
                position: absolute;
                content: "";
                width: 100%;
                height: 3px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 1px;
                background-color: #000;
                display: block;
            }
            &:after {
                position: absolute;
                content: "";
                height: 100%;
                width: 3px;
                left: 50%;
                transform: translateX(-50%);
                border-radius: 1px;
                background-color: #000;
                display: block;
            }
        }
        p {
            margin-bottom: 0;
        }
        &:hover {
            color: #0B301A;
        }

    }
    
    .ae-accordion__content {
        transition: max-height 0.3s ease-in-out;
        max-height: 0px;
        overflow: hidden;
        padding-left: 20px;
        @media (min-width: 1024px) {
            padding-left: 30px;
        }
        > div {
            color: #0B301A;
            padding: 25px 0;
            p {
                max-width: 850px;
            }
        }
        a {
            color: #0B301A;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }

    }
    &.is-open {
        .icon {
            &:after {
                opacity: 0;
            }
            i {
            }
        }
    }
}