.social-icons a:after {
    display: none
}

.social-icons a.icon {
    border-radius: 100px;
    border: 2px solid var(--evg-color-lime);
    -webkit-transition: .2s;
    transition: .2s;
    background-color: var(--forest_green);
    padding: var(--spacer-small);
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: auto;
    display: inline-block
}

.social-icons a.icon:hover {
    background-color: rgba(255,255,255,0.2);
}

.social-icons a.icon-instagram {
    background-image: url(media/images/svg/social-instagram.svg)
}

.social-icons a.icon-twitter {
    background-image: url(media/images/svg/social-x-twitter.svg)
}

.social-icons a.icon-linkedin {
    background-image: url(media/images/svg/social-linkedin.svg)
}

.social-icons a.icon-youtube {
    background-image: url(media/images/svg/social-youtube.svg)
}
