.ae-locations {
    evg-menu-item {
        align-items: baseline;
        display: flex;
        font: inherit;
        color: var(--evg-color-lime);
        font-size: var(--size, 1rem);
        font-weight: var(--evg-font-weight-bold);
        gap: 8px;
        justify-content: flex-start;
        letter-spacing: inherit;
        line-height: 1;
        padding: 8px;
        width: 100%;
    }
}

.social-icons a:after {
    display: none
}

.social-icons a.icon {
    border-radius: 100px;
    border: 2px solid var(--evg-color-lime);
    -webkit-transition: .2s;
    transition: .2s;
    background-color: var(--forest_green);
    padding: var(--spacer-small);
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: auto;
    display: flex;
    img {
        display: block;
        align-self: center;
    }
}

.social-icons a.icon:hover {
    background-color: rgba(255,255,255,0.2);
}