.form-item {
    width: 100%;
	line-height: 1.2;
    font-weight: 600;
}

.ae-field {
	text-transform: uppercase;
	text-transform: uppercase;
    font-size: .875rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 0;
    display: block;
    width: 100%;
	margin-bottom: 16px;
}
.fullname {
	@media only screen and (min-width: 1024px) {
		display: flex;
		justify-content: space-between;
	}
	>label {
		display: block;
		margin-bottom: 16px;
		@media only screen and (min-width: 1024px) {
			width: calc(50% - 10px);
		}
	}
}
.form-item p {
	font-size: 1rem;
}

.form-item evg-button {

}
.form-item .wpcf7-checkbox {
	margin-bottom: 20px;
	span.wpcf7-list-item-label {
		margin-left: 6px;
	}
}
.form-required:after {
    content: "";
    vertical-align: super;
    display: inline-block;
    background-image: url(../media/images/svg/required.svg);
    background-repeat: no-repeat;
    background-size: 6px 6px;
    width: 6px;
    height: 6px;
    margin: 0 .3em
}
.js-choice {
	text-transform: none;
	.choices {
		margin-top: 8px;
		.choices__inner {
			padding-top: 0 !important;
			font-family: inherit;
			border-radius: .4rem;
			// padding: 0 10px;
		}
		.choices__input {
			font-size: 16px;
			color: inherit !important;
			font-weight: 500;
			color: black;
		}
		.choices__list--multiple .choices__item {
			background-color: var(--evg-color-lime);
			border-color: var(--evg-color-lime);
			color: black;
			margin-top: 3px;
		}
	}

	.choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button {
		margin: 0;
		margin-left: 6px;
	}

	.choices__inner {
	    // background: 0 0;
	    // padding: 0
	}

	.choices__inner input[type=text].choices__input {
	    display: inline-block
	}

	.choices__list--multiple .choices__item {
	    color: var(--black);
	    background-color: var(--evg-color-lime);
	    border: 0;
	}

	.choices[data-type*=select-multiple] .choices__button,.choices[data-type*=text] .choices__button {
	    border-left-color: var(--black);
	    background-image: url(../media/images/svg/menu-burger-opened.svg)
	}

	.choices__list .choices__item {
	    font-size: .875rem;
	    line-height: 1
	}

	@media only screen and (min-width: 1024px) {
	    .choices__list .choices__item {
	        font-size:1rem;
	        line-height: 1.2
	    }
	}
}

input[type=date],input[type=email],input[type=number],input[type=tel],input[type=text],select,textarea {
    display: block;
    // margin: 0;
    padding: 0 10px;
    color: inherit;
    width: 100%;
    font-family: inherit;
    font-weight: inherit;
    border: none;
    border-radius: .4rem
}

.form-item input, .form-item select, .form-item textarea {
	margin-top: 8px;
}
.form-item textarea {
	padding-top: 10px;
}
.form-item [type=date],.form-item [type=email],.form-item [type=file],.form-item [type=number],.form-item [type=password],.form-item [type=tel],.form-item [type=text],.form-item select,.form-item textarea {
    width: 100%;
    min-height: 45px;
    border: 1px solid #dde3e8
}

.wpcf7-list-item {
	margin-left: 0;
}
.wpcf7-not-valid-tip {
	text-transform: none;
	padding: 6px 0;
}

@media only screen and (min-width: 1024px) {
    .form-item label {
        font-size:1rem;
        line-height: 1.2
    }
}

@media only screen and (min-width: 641px) and (max-width:1023px),only screen and (max-width:640px) {
    .form-item .chosen-search input,.form-item [type=date],.form-item [type=email],.form-item [type=file],.form-item [type=number],.form-item [type=password],.form-item [type=tel],.form-item [type=text],.form-item select,.form-item textarea {
        font-size:1rem
    }
}

.form-item .chosen-search input:focus,.form-item .chosen-search input:hover,.form-item [type=date]:focus,.form-item [type=date]:hover,.form-item [type=email]:focus,.form-item [type=email]:hover,.form-item [type=file]:focus,.form-item [type=file]:hover,.form-item [type=number]:focus,.form-item [type=number]:hover,.form-item [type=password]:focus,.form-item [type=password]:hover,.form-item [type=tel]:focus,.form-item [type=tel]:hover,.form-item [type=text]:focus,.form-item [type=text]:hover,.form-item select:focus,.form-item select:hover,.form-item textarea:focus,.form-item textarea:hover {
    border-color: #489fdf
}

@media only screen and (min-width: 641px) and (max-width:1023px),only screen and (max-width:640px) {
    .form-item .chosen-search input:focus,.form-item .chosen-search input:hover,.form-item [type=date]:focus,.form-item [type=date]:hover,.form-item [type=email]:focus,.form-item [type=email]:hover,.form-item [type=file]:focus,.form-item [type=file]:hover,.form-item [type=number]:focus,.form-item [type=number]:hover,.form-item [type=password]:focus,.form-item [type=password]:hover,.form-item [type=tel]:focus,.form-item [type=tel]:hover,.form-item [type=text]:focus,.form-item [type=text]:hover,.form-item select:focus,.form-item select:hover,.form-item textarea:focus,.form-item textarea:hover {
        font-size:1rem
    }
}




.ae-checkbox {
	cursor: pointer;
}

.form-checkboxes:after,.form-checkboxes:before,.form-radios:after,.form-radios:before {
    content: "";
    display: table
}

.form-checkboxes:after,.form-radios:after {
    clear: both
}
