.ae-get-certified {
	counter-reset: step; // start counter
	evg-grid {
		padding-top: 30px;
	}
	evg-grid-item {
		position: relative;
		counter-increment: step; // each item increments the counter
		padding-top: 15px;
		margin-bottom: 40px;
		@media (min-width: 1024px) {
			margin-bottom: 0;
		}
		&:last-child {
			margin-bottom: 0;
		}
		a {
			text-decoration: underline;
			text-underline-offset: 0.15em;
			&:hover {
				text-decoration: none;
			}
		}
	}
	evg-grid-item::before {
		content: counter(step);
		position: absolute;
		top: -25px;
		left: 6px;
		background: var(--evg-color-lime);
		font-weight: bold;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 14px;
		z-index: 2;
		@media (min-width: 1024px) {
			left: 12px;
			top: -2rem;
		}
	}

	evg-card {
		border: 0;
	}
	@media (min-width: 1024px) {
		evg-grid-item {
			padding-left: 12px;
			padding-right: 12px;
			width: calc(2.4 * 100% / 12);
		}
	}
}