.ae-page-header-full {
	// height: calc(100vh - 110px);
	overflow: hidden;

	.evg-section-img {
		height: 100%;
		min-height: 800px;
	}

	evg-wrapper {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	.ae-page-header__bg {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.cls-logo {
		max-width: 473px;
		margin-left: auto;
		margin-right: auto;
	}

	.skip-to-content-link {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		text-align: center;
		width: 56px;
		height: 56px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.ae-supergraphic-lime {
    evg-supergraphic::part(svg) {
        color: var(--evg-color-lime);
    }
}