.ae-page-header-full {
	// height: calc(100vh - 110px);
	overflow: hidden;

	.evg-section-img {
		height: 100%;
		min-height: 800px; 
	}

	evg-wrapper {
		padding-top: 100px;
		padding-bottom: 100px;
		// position: relative;
		// z-index: 1;
	}

	.ae-page-header__bg {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	evg-wrapper img {
		max-width: 473px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: var(--evg-spacing-lg);
	}

	.skip-to-content-link {
		position: absolute;
		bottom: 40px;
		left: 0;
		right: 0;
		text-align: center;
		width: 56px;
		height: 56px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.ae-supergraphic-lime {
    evg-supergraphic::part(svg) {
        color: var(--evg-color-lime);
        display: none;
        @media (min-width: 1024px) {
        	display: block;
        }
    }
}