.evg-longform-ae {
	ul {
		background-color: var(--evg-theme-background-sand);
		padding: 20px 32px;
		line-height: 150%;
		ul {
			padding: 20px;
			padding-right: 0;
			@media (min-width: 1024px) {
			}
		}
		li {
			margin-left: 10px;
			margin-bottom: 0;
			li {
			}
			@media (min-width: 1024px) {
				margin-left: 40px;
			}
		}
	}
}