.ae-ways-get-involved {
	evg-img {
		overflow: hidden;
		img {
			transition: transform 0.5s ease;
		}
	}
	a:hover {
		img {
			transform: scale(1.1);
		}
		h3 {
			color: var(--evg-color-forest-75);
		}
	}
}