<evg-section padding="fluid">
	<evg-wrapper size="xl">
		<h2 class="evg-text-size-heading-md evg-text-transform-uppercase evg-spacing-bottom-md">Benefits of being certified</h2>
		
		<div class="evg-longform evg-longform-ae evg-spacing-bottom-lg">
			<p>In a world where businesses are expected to demonstrate their sustainability credentials, WRAP’s Circular Living Standards help you prove real impact - not just good intentions.</p>

			<p><strong>By adopting the standards, your business can:</strong></p>

			<ul>
				<li>Stand out in a competitive market, boosting sales and reputation</li>
				<li>Make credible, verifiable claims your customers can trust</li>
				<li>Show leadership on ESG and sustainability goals</li>
				<li>Qualify for the Amazon Climate Pledge Friendly programme</li>
				<li>Stay ahead of evolving circularity regulations</li>
			</ul>
			<p>Our certification sets the highest standard - rigorous, science-based, and data-driven.<br /> Because WRAP is an independent environmental action NGO, our standards help you become a trusted provider of circular products designed to minimise impact, eliminate waste, and maximise resource efficiency.</p>
		</div>

		<evg-button variant="primary">
		  <a href="certified.html">
		    Get certified
		  </a>
		</evg-button>
	</evg-wrapper>
</evg-section>
