<evg-section
	class="evg-theme-default"
	padding="fluid"
>
	<evg-wrapper size="lg">
		<h2 class="evg-text-size-heading-md evg-spacing-bottom-lg  evg-text- evg-text-transform-uppercase evg-text-align-center">
			CERTIFICATION BODIES ALREADY INVOLVED
		</h2>
	</evg-wrapper>
	<evg-wrapper size="lg" class="evg-spacing-bottom-lg ae-logo-list ae-logo-list--sm">
		<evg-enter delay="0.5"type="fade-in-up">
			<evg-grid wrap="wrap" justify-content="center">
				<evg-grid-item>
					<a href="https://wrap.ngo">
						<evg-card-img>
							
								<img
									alt="Placeholder"
									height="300"
									loading="lazy"
									src="media/images/logo/nsf-logo.png"
									width="400"
								/>
					</a>
				</evg-grid-item>

				<evg-grid-item>
					<a href="https://wrap.ngo">
						<evg-card-img>
							
								<img
									alt="Placeholder"
									height="300"
									loading="lazy"
									src="media/images/logo/nqa-logo.png"
									width="400"
								/>
					</a>
				</evg-grid-item>
				<evg-grid-item>
					<a href="https://wrap.ngo">
						<evg-card-img>
							
								<img
									alt="Placeholder"
									height="300"
									loading="lazy"
									src="media/images/logo/usb-logo.png"
									width="400"
								/>
					</a>
				</evg-grid-item>
				<evg-grid-item>
					<a href="https://wrap.ngo">
						<evg-card-img>
							
								<img
									alt="Placeholder"
									height="300"
									loading="lazy"
									src="media/images/logo/greencircle-logo.png"
									width="400"
								/>
					</a>
				</evg-grid-item>

			</evg-grid>
		</evg-enter>
	</evg-wrapper>

	<evg-wrapper size="lg" class="evg-text-align-center">
		<evg-button variant="primary" class="evg-text-align-center">
		  <a href="process.html">
		    Become a certification body
		  </a>
		</evg-button>
	</evg-wrapper>

</evg-section>