<evg-section padding="none">
	<evg-wrapper size="xl" class="evg-longform">
		<div class="evg-text-size-body-lg">
			<h2 class="evg-text-size-heading-md evg-text-transform-uppercase">Eligible product systems include:</h2>
			<evg-divider></evg-divider>
			
			<div class="ae-eligible-product-list">

			<evg-grid wrap="wrap" align-items="center" class="evg-spacing-bottom-lg">
              <evg-grid-item small-mobile="12" small-tablet="3" large-tablet="1">
                <svg width="67" height="67" viewBox="0 0 67 67" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="33.4512" cy="33.4512" r="27.5" fill="#CBFF89"/>
				<path d="M49.531 29.0602C48.5046 26.6954 46.4377 24.7963 44.5503 23.2515C42.3592 21.4568 40.1152 20.2227 37.8806 19.5823C37.5451 19.4873 37.1885 19.6186 36.9938 19.9107C36.2489 21.0227 34.8519 21.7136 33.3469 21.7136C31.8419 21.7136 30.4449 21.0227 29.7 19.9107C29.5041 19.6186 29.1475 19.4861 28.812 19.5823C26.2044 20.3283 23.8678 22.0609 22.1235 23.4872C19.8174 25.3723 18.2643 27.289 17.3763 29.3441C17.3282 29.4544 17.2919 29.6315 17.3846 29.8508C17.6262 30.4174 21.3012 35.086 22.249 35.4414C22.6373 35.588 23.0795 35.4954 23.3833 35.1986L24.3816 34.1863V46.2789C24.3816 46.8701 24.8625 47.351 25.4537 47.351H41.7058C42.297 47.351 42.7779 46.8701 42.7779 46.28V40.8103L45.2471 43.3721C45.3621 43.4918 45.5157 43.5516 45.6694 43.5516C45.8231 43.5516 45.9627 43.4977 46.0764 43.3874C46.132 43.334 46.1764 43.2701 46.2072 43.1995C46.2381 43.1289 46.2546 43.0529 46.2561 42.9759C46.2575 42.8989 46.2437 42.8223 46.2155 42.7506C46.1873 42.6789 46.1452 42.6135 46.0917 42.5581L42.5445 38.8783C42.4903 38.8221 42.4255 38.7773 42.3538 38.7465C42.2821 38.7157 42.2049 38.6995 42.1269 38.6989C41.9721 38.7 41.8172 38.7599 41.7058 38.8725L38.107 42.5029C37.9976 42.6134 37.9365 42.7628 37.9372 42.9183C37.9378 43.0738 38.0002 43.2227 38.1105 43.3323C38.221 43.4417 38.3704 43.5027 38.5259 43.5021C38.6814 43.5014 38.8303 43.4391 38.9398 43.3287L41.6049 40.6402V46.1792H25.5534V32.7576C25.5534 32.5194 25.4091 32.3048 25.1898 32.2145C25.0821 32.1703 24.9638 32.1591 24.8498 32.1823C24.7358 32.2055 24.6312 32.262 24.5493 32.3447L22.6138 34.3071C22.3757 34.1265 21.7059 33.4766 20.432 31.947C19.537 30.8725 18.8332 29.9494 18.5658 29.5541C19.3951 27.7687 20.8051 26.0784 22.8649 24.3952C24.4637 23.0872 26.5786 21.5119 28.8824 20.7858C29.8701 22.0878 31.5534 22.8867 33.3446 22.8867C35.1357 22.8867 36.8202 22.0878 37.8079 20.7846C39.8055 21.3993 41.8219 22.5336 43.8043 24.1582C45.5075 25.5541 47.3632 27.2432 48.3298 29.2608C48.06 29.628 47.3902 30.4467 46.4553 31.4989C45.4489 32.6309 44.8295 33.2526 44.4999 33.5505L42.5574 31.845C42.4728 31.7704 42.3684 31.7219 42.2569 31.7052C42.1453 31.6886 42.0314 31.7045 41.9287 31.7511C41.826 31.7975 41.7388 31.8726 41.6777 31.9672C41.6165 32.0619 41.5839 32.1721 41.5838 32.2848V37.1071C41.5838 37.4308 41.8466 37.6936 42.1703 37.6936C42.4941 37.6936 42.7568 37.4308 42.7568 37.1071V33.581L44.0811 34.7446C44.1608 34.8147 44.2579 34.8618 44.3623 34.881C44.4666 34.9002 44.5741 34.8908 44.6735 34.8537C44.8237 34.7974 45.2237 34.6473 47.3104 32.3013C47.5157 32.0713 49.3175 30.0385 49.5204 29.5599C49.6107 29.3453 49.5732 29.1693 49.5263 29.0602H49.531Z" fill="#0B301A"/>
				</svg>

              </evg-grid-item>
              <evg-grid-item small-mobile="12" small-tablet="9" large-tablet="10" >
              	<ul>
				<li><span class="ae-tag evg-text-size-body-md">Backpack</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Handbag</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Pyjamas</span></li>
				<li><span class="ae-tag evg-text-size-body-md">sports</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Blazer</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Boots</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Jacket</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Scarf</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Trousers</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Coats</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Dress</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Leggings</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Shorts</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Vest</span></li>
				<li><span class="ae-tag evg-text-size-body-md">Earmuff</span></li>
			</ul>

                {{!-- <evg-grid wrap="wrap" gap="sm" >

<evg-grid-item key=""><evg-chip variant='light'><a>Backpack</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Boots</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Dress</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Handbag</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Leggings</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Pyjamas</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Shorts</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Sports</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Trousers</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Vest</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Blazer</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Coat</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Earmuff</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Hat</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Jeans</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Outerwear</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Pants</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Shirts</a></evg-chip></evg-grid-item>
<evg-grid-item key=""><evg-chip variant='light'><a>Skirts</a></evg-chip></evg-grid-item>

                        
                      
                </evg-grid> --}}
              </evg-grid-item>
            </evg-grid>

        	</div>
			<evg-divider class="evg-spacing-bottom-md"></evg-divider>
			<p class="evg-text-size-body-lg">*Product material restrictions apply</p>

		</div>
	</evg-wrapper>
</evg-section>
