<evg-section padding="fluid">
	<evg-wrapper size="xxl">
		<evg-grid justify-content="space-between" align-items="center" class="evg-spacing-bottom-lg">
			<evg-grid-item>
				<h2 class="evg-text-size-heading-md evg-text-transform-uppercase">FREQUENTLY ASKED QUESTIONS</h2>
			</evg-grid-item>
			{{#if index}}
			<evg-grid-item>
				<evg-button variant="ghost">
					<a href="faq.html">See all FAQS <evg-icon icon="arrow-right"></evg-icon></a>
				</evg-button>
			</evg-grid-item>
			{{/if}}
		</evg-grid>
		
		<div class="ae-faq-item">
			
			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>How were the Circular Living Standards developed?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>The certification processes and requirements for the Circular Living Standards were
						developed through a rigorous, multi-stakeholder approach, following established
						international standards and best practices. The standard development process is facilitated
						by experienced international standards developers with expertise in creating product
						sustainability standards. These experts lead the technical and administrative aspects of the
						process, ensuring adherence to recognized guidelines such as those set by ISO.</p>

						<p>Each one of the Circular Living Standards has a Standard Development Committee (SDC)
						made up of NGOs, industry experts, and relevant brands and/or retailers that contribute to
						the development of the standard. The SDC plays a role in ensuring the quality, applicability,
						and relevance of each standard by providing valuable data, insights and feedback.</p>

						<p>The draft standards undergo a public consultation phase, allowing for broader stakeholder
						input and ensuring transparency in the development process. This step helps to identify and
						address any potential concerns or areas for improvement before the standards are finalised.
						Each standard also undergoes a pilot, during which a number of volunteer organisations
						undergo the full certification process to validate the standard&#39;s effectiveness and identify any
						necessary adjustments or refinements. SDC members will be offered the opportunity to take
						part in the pilots first.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>What is WRAP's role in the Circular Living Standards?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>WRAP is a global environmental action NGO catalyzing policy makers, businesses and citizens to transform the systems that generate food, textiles and manufactured products to create Circular Living. The Circular Living Standards will help us to achieve these goals by enabling consumers to choose circular products and raise the bar on circularity for brands, manufacturers and retailers.</p>
						<p>WRAP will be the owner of the standards and operator of the certification scheme, responsible for developing the standards, and monitoring and operation of the certification scheme. </p>
						<p>Third-party Certification Bodies will certify products to the standards. WRAP will approve Certification Bodies to offer certification against the WRAP Circular Living Standards. </p>
						<p>The standards have been developed in collaboration with key partners including Amazon, the Ellen MacArthur Foundation and NSF, as a multi-stakeholder process.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>What is the role of a Certification Body?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>Certification Bodies are third-party organisations that will independently assess an organisation’s products or processes for certification against the standard. There will be a separation of responsibilities between the standards owner (WRAP) and certification bodies, to ensure best practice delivery of certification, and to provide the highest level of assurance to all stakeholders.</p>
					</div>
				</div>
			</div>
			
			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>Does the standard apply globally or regionally?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>The Circular Living Standards are intended to be global in scope, initially launching concurrently in the UK, US, and EU. The standards are being developed in alignment with relevant regulations and requirements across these regions. A product/business certification will cover products sold in the UK, US, and EU, eliminating the need for individual certifications per region.</p>
						<p>Organisations outside these regions will still be able to apply for certification but, working with their Certification Body, they must first establish that the requirements of the standards do not contravene relevant local legislation.</p>
					</div>
				</div>
			</div>
			{{#if faqpage}}
			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>What is the difference between Circular Living Standards to other environmental certifications?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>The Circular Living Standards differ from other environmental certifications through their focus on specific product circularity attributes such as Preloved, Reusable, Refillable, Durable, the standards focus on product-level attributes, their practical application in a circular economy, and how the products are used by consumers.</p>
						<p>Relying heavily on Life Cycle Assessments (LCAs) and customer behaviour research, the Circular Living Standards help ensure products contribute effectively to a circular economy in terms of environmental impacts. By setting specific eligibility criteria for different product categories, the standards maintain relevance and precision. They also promote active consumer participation and encourage manufacturers to innovate, leading to market differentiation and fostering a cultural shift towards circular design.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>What are the benefits for manufacturers and retailers of obtaining certification to Circular Living Standards?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<ul>
							<li>Make credible claims about your products that your customers can trust.</li>
							<li>Be confident that your certified products are green claims compliant. </li>
							<li>Increase market share and build brand reputation.</li>
							<li>Boost consumer confidence in your sustainable products and build brand reputation, being ahead of your competitors.</li>
							<li>Showcase your commitment to your ESG strategies.</li>
							<li>Keep pace with evolving regulatory landscape.</li>
							<li>Products certified under the Circular Living Standards will be eligible for inclusion in Amazon's Climate Pledge Friendly program.</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>Will the standards also cover the packaging that products are in? </strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>The Circular Living Standards are primarily focused on the products themselves, rather than the packaging those products come in.</p>
						<p>However, there is one exception - refillable products. For refillable product certifications, the primary packaging is considered an integral part of the product's function and circularity. As such, the packaging will be assessed along with the product itself under the Refillable Certified standard. For example, if a brand is seeking Refillable Certified Standard for a refillable deodorant, both the base unit and the refill unit would be evaluated as part of the certification process.</p>
						<p>It's important to note that while packaging is not covered under most of the initial Circular Living Standards, it remains a crucial consideration for overall product sustainability and circularity. Brands and retailers are encouraged to prioritize circular packaging solutions alongside circular product design. As the standards evolve, there may be opportunities to incorporate packaging assessments or develop dedicated packaging standards in the future. However, for the initial launch, the primary emphasis will be on certifying the core products themselves, with the exception of refillable products where the packaging plays a direct role in enabling circularity.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>How long does the certification valid?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>For all Circular Living Standards, certification is granted on a 3 year cycle, with a full certification assessment on year 1, and reduced scope surveillance assessments on years 2 and 3. If during the 3 year cycle there are any changes or modifications to the certified processes or the certified product's design, materials, or manufacturing processes, full recertification is required to ensure continued compliance with the standard's requirements.</p>
						<p>The license to use the Circular Living Standards logo and branding is renewed on an annual basis by WRAP.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>How is the certification process conducted? </strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>The process varies by standard, but typically involves an application submission, an assessment (documentation review and/or site visit), possible product testing, identification of non-conformances and implementation of corrective actions, and a final assessment to ensure compliance with the standard. Details of the exact process for each standard will be confirmed by certification bodies as the standards are finalised and published. </p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>Can a single product be certified to multiple standards?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>Yes, it is possible for a single product to be eligible for and receive certification to multiple Circular Living Standards if it meets the criteria for the different standards. For example, if your product is designed to be both refillable and heavy-duty, it could potentially qualify for both Refillable Certified and Durable Certified Standards. However, to receive multiple certifications, your product will need to go through the full certification process for each individual standard it is applying for. This means you'll have to submit separate applications, provide the required documentation, and have your product evaluated against the specific criteria outlined in each of the relevant certification standards.</p>
					</div>
				</div>
			</div>

			<div class="ae-accordion ae-accordion--closeothers">
				<div class="ae-accordion__toggle">
					<p class="" aria-expanded="false"><strong>Is there a cost associated with getting certified?</strong></p>
					<div class="icon">
						<i></i>
					</div>
				</div>
				<div class="ae-accordion__content">
					<div>
						<p>Yes, there is a cost associated with obtaining certification under the Circular Living Standards.</p>
						<p>The costs consist of 2 elements:</p>
						<ol>
							<li>For all the Circular Living Standards, the fees for the certification process itself; these are charged annually by the Certification Body (CB) following typically a 3-year cycle: in year 1 (and 4, etc.) a full certification (or recertification in year 4) fee, and in years 2 & 3 (and 5 & 6, etc.) a reduced cost surveillance fee. WRAP will advise and provide guidance on these fees, but ultimately these fees are set by the CB according to their commercial model.</li>
							<li>The annual license fee, charged by WRAP to the organisation when the CB has confirmed that their processes or products have been certified. This is a mandatory fee and allows the organisation to use the Circular Living Standards certification mark, logo and branding.</li>
						</ol>
						<p>WRAP understands the importance of making the Circular Living Standards accessible to businesses of all sizes, including small businesses and start-ups, making them cost effective in order to drive change and impact in the industries. While the fees are designed to cover the costs associated with maintaining a robust and credible certification program, WRAP aims to avoid presenting unnecessary barriers to entry for smaller organisations.</p>
						<p>WRAP has carefully considered turnover and sales volumes, to develop an accessible and fair pricing model. This approach aims to make certification to the Circular Living Standards attainable for organisations of different scales and stages of growth, fostering widespread adoption and promoting a more circular economy across industries.</p>
						<p>WRAP is currently in the process of determining the final fee structure. To stay updated on when the fee structure is finalised, interested brands and manufacturers can sign up for notifications.</p>
					</div>
				</div>
			</div>
			{{/if}}
		</div>


	</evg-wrapper>
</evg-section>
