<evg-section padding="fluid" class="evg-theme-default">
	<evg-wrapper size="xl">
		{{!-- <h2 class="evg-text-size-heading-md evg-spacing-bottom-lg evg-text-transform-uppercase">Featured campaign</h2> --}}
		<evg-card layout="image-right" class="evg-theme-forest" radius="md" padding="fluid">
			<evg-card-img>
				<img src="media/images/featured-wrap.jpg" alt="Placeholder" width="400" height="300" loading="lazy">
			</evg-card-img>
			<evg-card-content>
				<h3 class="evg-text-size-heading-md evg-text-transform-uppercase">HOW WRAP IS TRANSFORMING SYSTEMS FOR CIRCULAR LIVING</h3>
				<div class="evg-text-size-body-xs evg-text-align-left evg-spacing-bottom-md">
				<p>Discover how WRAP is transforming broken systems for Circular Living for the benefit of climate, nature and people.</p>
				</div>
				<evg-button variant="primary" width="full-width-mobile">
					<button>Learn more about Wrap</button>
				</evg-button>
			</evg-card-content>
		</evg-card>
	</evg-wrapper>
</evg-section>