<evg-section padding="fluid" class="evg-theme-default">
	<evg-wrapper size="xl">
		{{!-- <h2 class="evg-text-size-heading-md evg-spacing-bottom-lg evg-text-transform-uppercase">Featured campaign</h2> --}}
		<evg-card layout="image-right" class="evg-theme-forest" radius="md" padding="fluid">
			<evg-card-img>
				<img src="media/images/featured-wrap.jpg" alt="Placeholder" width="400" height="300" loading="lazy">
			</evg-card-img>
			<evg-card-content>
				<h3 class="evg-text-size-heading-md">Don't see your product?</h3>
				<p class="evg-text-size-body-xs">Get in touch and let us know what else you'd like included.</p>
				<evg-button variant="primary" width="full-width-mobile">
					<a href="contact.html">Contact us</a>
				</evg-button>
			</evg-card-content>
		</evg-card>
	</evg-wrapper>
</evg-section>