<evg-section
	class="evg-theme-sand ae-get-certified"
	padding="fluid"
>
	<evg-wrapper size="xxl">
		<h2 class="evg-text-size-heading-lg evg-spacing-bottom-md evg-text-transform-uppercase evg-text-align-center ">
			HOW TO GET CERTIFIED
		</h2>
		<div class="evg-spacing-bottom-lg evg-text-align-center">
			<p>Get in touch with here to til out a form</p>
		</div>
	</evg-wrapper>
	<evg-wrapper size="xxl" class="evg-spacing-bottom-lg">
			
	    <evg-grid wrap="wrap">
	      <evg-grid-item
	        fill
	        large-tablet="2"
	        small-mobile="12"
	        small-tablet="6"
	      >
	          <evg-card
	            class="evg-theme-default"
	            radius="md"
	          >
	            <evg-card-content>
	              <h3 className="evg-text-size-body-md evg-text-family-body">
	                Get in touch
	              </h3>
	              <p className="evg-text-size-body-xs">
	                with WRAP to fill out a form
	              </p>
	            </evg-card-content>
	          </evg-card>
	      </evg-grid-item>
	      <evg-grid-item
	        fill
	        large-tablet="2"
	        small-mobile="12"
	        small-tablet="6"
	      >
	          <evg-card
	            class="evg-theme-default"
	            radius="md"
	          >
	            <evg-card-content>
	              <h3 className="evg-text-size-body-md evg-text-family-body">
	                Review
	              </h3>
	              <p className="evg-text-size-body-xs">
	                WRAP will review and send out details of certification bodies
	              </p>
	            </evg-card-content>
	          </evg-card>
	      </evg-grid-item>
	      <evg-grid-item
	        fill
	        large-tablet="2"
	        small-mobile="12"
	        small-tablet="6"
	      >
	          <evg-card
	            class="evg-theme-default"
	            radius="md"
	          >
	            <evg-card-content>
	              <h3 className="evg-text-size-body-md evg-text-family-body">
	                Contact
	              </h3>
	              <p className="evg-text-size-body-xs">
	                with CBs and discuss process
	              </p>
	            </evg-card-content>
	          </evg-card>
	      </evg-grid-item>
	      <evg-grid-item
	        fill
	        large-tablet="2"
	        small-mobile="12"
	        small-tablet="6"
	      >
	          <evg-card
	            class="evg-theme-default"
	            radius="md"
	          >
	            <evg-card-content>
	              <h3 className="evg-text-size-body-md evg-text-family-body">
	                Get certified
	              </h3>
	              <p className="evg-text-size-body-xs">
	                with CBs and discuss process
	              </p>
	            </evg-card-content>
	          </evg-card>
	      </evg-grid-item>
	      <evg-grid-item
	        fill
	        large-tablet="2"
	        small-mobile="12"
	        small-tablet="6"
	      >
	          <evg-card
	            class="evg-theme-default"
	            radius="md"
	          >
	            <evg-card-content>
	              <h3 className="evg-text-size-body-md evg-text-family-body">
	                Receive licence
	              </h3>
	              <p className="evg-text-size-body-xs">
	                from Wrap
	              </p>
	            </evg-card-content>
	          </evg-card>
	      </evg-grid-item>
	    </evg-grid>
	</evg-wrapper>
	<evg-wrapper size="xl" class="evg-text-align-center">
		<evg-button variant="primary" class="evg-text-align-center">
		  <a href="certified.html">
		    Get certified
		  </a>
		</evg-button>
	</evg-wrapper>
</evg-section>