<evg-section padding="fluid">
	<evg-wrapper size="xl">
		<evg-grid justify-content="space-between" align-items="center" class="evg-spacing-bottom-lg">
			<evg-grid-item>
				<h2 class="evg-text-size-heading-lg evg-text-transform-uppercase">Ways to get involved</h2>
			</evg-grid-item>
			<evg-grid-item>
				<evg-button variant="ghost">
					<a href="https://wrap.ngo">Join the Circular Living Forum <evg-icon icon="external-link"></evg-icon></a>
				</evg-button>
			</evg-grid-item>
		</evg-grid>
        <p class="evg-spacing-bottom-lg">
            Join the Circular Living Forum and decide how you want to get involved
        </p>
        <evg-grid wrap="wrap" gap="lg" class="evg-spacing-bottom-lg">
        	<evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
        		<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
        			<img
                        src="media/images/card-becoming-certified.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Becoming certified</h3></evg-grid-item>
                <evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
                	<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
                		<img
                        src="media/images/card-provide-data.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Provide data</h3></evg-grid-item>
                <evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
                	<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
                		<img
                        src="media/images/card-join-comittee.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Join the Standards Management Committee</h3></evg-grid-item>
                <evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
                	<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
                		<img
                        src="media/images/card-amazon-pledge.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Want to learn more about Amazon's Climate Pledge Friendly program?</h3></evg-grid-item>
                <evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
                	<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
                		<img
                        src="media/images/card-caterogy-expension.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Category expansion</h3></evg-grid-item>
                <evg-grid-item small-mobile="12" small-tablet="6" tablet="4">
                	<evg-img radius="md" aria-hidden="true" aspect-ratio="auto" object-fit="fill" object-position="50% 50%">
                		<img
                        src="media/images/card-becoming-certified.jpg"
                        alt="Placeholder"
                        width="400"
                        height="300"
                        loading="lazy" />
            	</evg-img>
                <h3 class="evg-text-size-heading-sm">Becoming a Certification Body</h3>
            </evg-grid-item>
        </evg-grid>

		<evg-button variant="primary">
		  <a href="certified.html">
		    Learn more
		  </a>
		</evg-button>
	</evg-wrapper>
</evg-section>
