<evg-section padding="fluid" class="remove-padding-bottom">{{!--  padding_override --}}
	<evg-wrapper size="xl" class="evg-longform">
		<div class="evg-spacing-bottom-xl">
			<h2 class="evg-text-size-heading-lg evg-text-transform-uppercase">{{title}}</h2>
			<p class="evg-text-size-body-lg">{{copy}}</p>
		</div>
	</evg-wrapper>
</evg-section>
