<evg-section padding="fluid" class="evg-theme-forest ae-page-header-full">
	<evg-section-img text="light">
		<img class="ae-page-header__bg" src="media/images/page-header-homepage.jpg" alt="" slot="image" width="1280" height="640">
		<evg-wrapper size="lg" class="evg-text-align-center">
			<img class="evg-spacing-bottom-lg cls-logo" src="media/images/cls-logo.png" alt="" slot="image" width="1280" height="640">

			<p class="evg-spacing-bottom-lg">Setting a high bar for circular products</p>
			<evg-grid justify-content="center">
				<evg-grid-item small-mobile="6" small-tablet="auto">
					<evg-button variant="primary" width="full-width-mobile">
						<a href="#">Get Involved</a>
					</evg-button>
				</evg-grid-item>
			</evg-grid>

			<a class="skip-to-content-link" href="#skip-to-content" aria-label="Skip to content">
				<img class="evg-spacing-bottom-lg" src="media/images/vibrant-green-arrow-down.svg" alt="" slot="image" width="56px" height="56px">
			</a>
		</evg-wrapper>
	</evg-section-img>
</evg-section>
<div id="skip-to-content"></div>