<evg-section padding="fluid" class="evg-theme-forest ae-page-header-full">
	<evg-section-img text="light">
		<img class="ae-page-header__bg" src="media/images/page-header-process.jpg" alt="" slot="image" width="1280" height="640">
		<evg-wrapper size="lg" class="evg-text-align-center">
			
			<h1 class="evg-text-transform-uppercase evg-spacing-bottom-lg">{{title}}</h1>
			<p class="evg-spacing-bottom-lg">{{copy}}</p>

			<a class="skip-to-content-link" href="#skip-to-content" aria-label="Skip to content">
				<img class="evg-spacing-bottom-lg" src="media/images/vibrant-green-arrow-down.svg" alt="" slot="image" width="56px" height="56px">
			</a>
		</evg-wrapper>
	</evg-section-img>
</evg-section>
<div id="skip-to-content"></div>