<evg-section
	class="evg-theme-earth-light"
	padding="fluid"
>
	<evg-wrapper size="xl">
		<h2 class="evg-text-size-heading-md evg-spacing-bottom-md evg-text-transform-uppercase">
			OUR PARTNERS
		</h2>
		<div class="evg-spacing-bottom-lg">
			<p>The standards have been developed with the following partners:</p>
		</div>
	</evg-wrapper>
	<evg-wrapper size="xl" class="evg-spacing-bottom-lg ae-logo-list ae-logo-list--md">
		<evg-enter delay="0.5"type="fade-in-up">
			<evg-grid wrap="wrap" justify-content="left">
				<evg-grid-item>
					{{!-- possible link --}}
						<evg-card-img>
								<img
									alt="Placeholder"
									height="300"
									loading="lazy"
									src="media/images/logo/amazon-logo.png"
									width="400"
								/>
						</evg-card-img>
				</evg-grid-item>

				<evg-grid-item>
					<evg-card-img>
						<img
							alt="Placeholder"
							height="300"
							loading="lazy"
							src="media/images/logo/emf-logo.png"
							width="400"
						/>
					</evg-card-img>
				</evg-grid-item>

				<evg-grid-item>
					<evg-card-img>
							<img
								alt="Placeholder"
								height="300"
								loading="lazy"
								src="media/images/logo/nsf-logo2.png"
								width="400"
							/>
					</evg-card-img>
				</evg-grid-item>

			</evg-grid>
		</evg-enter>
	</evg-wrapper>

</evg-section>