<evg-section padding="fluid" class="evg-theme-earth-light ae-related-standards">
	<evg-wrapper size="xxl">
		<h2 class="evg-text-size-heading-md evg-spacing-bottom-lg evg-text-transform-uppercase">RELATED STANDARDS</h2>
		<evg-grid wrap="wrap">
			{{#if preloved}}
			<evg-grid-item small-mobile="12" small-tablet="6" large-tablet="4" fill="true">
				<evg-card class="evg-theme-forest" radius="md">
					<evg-card-img>
						<a href="standards-preloved.html"><img src="media/images/hero-standards-preloved.jpg" alt="preloved" loading="lazy"></a>
					</evg-card-img>
					<evg-card-content>
						<h3 class="evg-text-size-heading-md evg-text-transform-uppercase">Preloved</h3>
						<evg-button variant="primary" width="full-width-mobile">
							<a href="standards-preloved.html">Read more</a>
						</evg-button>
					</evg-card-content>
				</evg-card>
			</evg-grid-item>
			{{/if}}

			{{#if refillable}}
			<evg-grid-item small-mobile="12" small-tablet="6" large-tablet="4" fill="true">
				<evg-card class="evg-theme-forest" radius="md">
					<evg-card-img>
						<a href="standards-refillable.html"><img src="media/images/hero-standards-refillable.jpg" alt="refillable" loading="lazy"></a>
					</evg-card-img>
					<evg-card-content>
						<h3 class="evg-text-size-heading-md evg-text-transform-uppercase">Refillable</h3>
						<evg-button variant="primary" width="full-width-mobile">
							<a href="standards-refillable.html">Read more</a>
						</evg-button>
					</evg-card-content>
				</evg-card>
			</evg-grid-item>
			{{/if}}

			{{#if reusable}}
			<evg-grid-item small-mobile="12" small-tablet="6" large-tablet="4" fill="true">
				<evg-card class="evg-theme-forest" radius="md">
					<evg-card-img>
						<a href="standards-reusable.html"><img src="media/images/hero-standards-reusable.jpg" alt="reusable" loading="lazy"></a>
					</evg-card-img>
					<evg-card-content>
						<h3 class="evg-text-size-heading-md evg-text-transform-uppercase">Reusable</h3>
						<evg-button variant="primary" width="full-width-mobile">
							<a href="standards-reusable.html">Read more</a>
						</evg-button>
					</evg-card-content>
				</evg-card>
			</evg-grid-item>
			{{/if}}
			{{#if durable}}
			<evg-grid-item small-mobile="12" small-tablet="6" large-tablet="4" fill="true">
				<evg-card class="evg-theme-forest" radius="md">
					<evg-card-img>
						<a href="standards-durable.html"><img src="media/images/hero-standards-durable.jpg" alt="durable" loading="lazy"></a>
					</evg-card-img>
					<evg-card-content>
						<h3 class="evg-text-size-heading-md evg-text-transform-uppercase">Durable</h3>
						<evg-button variant="primary" width="full-width-mobile">
							<a href="standards-durable.html">Read more</a>
						</evg-button>
					</evg-card-content>
				</evg-card>
			</evg-grid-item>
			{{/if}}
			
		</evg-grid>
	</evg-wrapper>
</evg-section>