<evg-section padding="fluid" class="evg-theme-default">
	<evg-wrapper size="xl">
		<evg-grid gap="lg" wrap="wrap">
			<evg-grid-item small-mobile="12" >
				<h3 class="evg-text-size-heading-lg evg-text-transform-uppercase evg-spacing-bottom-lg">DID YOU KNOW?</h3>
			</evg-grid-item>
		</evg-grid>
	</evg-wrapper>
	<evg-wrapper size="md">
		<evg-grid wrap="wrap">
			<evg-grid-item small-mobile="12" tablet="12">
				<evg-stat class="evg-spacing-bottom-lg" layout="row">
					<evg-stat-value>1,973</evg-stat-value>
					<evg-stat-content>A stainless steel straw needs to be reused 1,973 times before it breaks even - that's the number of uses required for it to have lower environmental impact than its single-use equivalent.</evg-stat-content>
				</evg-stat>
			</evg-grid-item>
		</evg-grid>
	</evg-wrapper>
</evg-section>