<evg-section padding="fluid">
	<evg-wrapper size="xl" class="evg-longform">
		<div class="evg-text-align-center evg-spacing-bottom-xl">
			<h2 class="evg-text-size-heading-xl">SHAPE THE FUTURE WITH CIRCULAR PRODUCTS</h2>
			<p class="evg-text-size-body-lg">The way we make and use products today is putting pressure on our planet. The extraction and consumption of natural resources is driving greenhouse gas emissions, pollution, waste and habitat loss. But there's a better way - moving from the broken system of take, make, dispose to a new model of design, make and reuse.</p>
			<p class="evg-text-size-body-lg">The circular approach to how we create and consume products can radically reduce waste and emissions, helping us build a more sustainable future. WRAP's Circular Living Standards make that shift possible. They set a high bar for circular products through an independent, science-based and data-driven certification process that recognises both circular product design and customer behaviour.</p>
			<p class="evg-text-size-body-lg">The Standards give credibility to your sustainability claims and help your business meet growing demand for genuinely circular products.</p>
		</div>
		<evg-video>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/cTD-X0lhMWY?si=XrIxoMQQDj0nV34K" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen=""></iframe>
		</evg-video>
	</evg-wrapper>
</evg-section>


{{!-- <evg-section padding="fluid" class="">
	<evg-wrapper size="xl">
		<evg-card class="evg-theme-forest evg-spacing-bottom-lg" radius="md" padding="lg" layout="image-right">
			<evg-card-img>
				<img src="media/images/placeholder/400x300.svg" alt="Placeholder" width="400" height="300" loading="lazy">
			</evg-card-img>
			<evg-card-content>
				<h3 class="evg-text-size-heading-lg">HOW WRAP IS TRANSFORMING SYSTEMS FOR CIRCULAR LIVING</h3>
				<p class="evg-text-size-body-xs">Discover how WRAP is transforming broken systems for Circular Living for the benefit of climate, nature and people.</p>
				<evg-button variant="primary" width="full-width-mobile">
					<button>Learn more about Wrap</button>
				</evg-button>
			</evg-card-content>
		</evg-card>

		</evg-wrapper>
	</evg-section>
</evg-section> --}}